.sidenav {
    position: fixed;
    width: 17.5rem;
    top: 0;
    height: 100%;
    z-index: 2000;
    max-width: auto;
    background-color: var(--g-sidenav-bg);
    color: var(--text-clr);
    transition: transform, opacity 0.25s ease 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    will-change: transform, opacity;
    -webkit-animation-name: sidenav-close;
    animation-name: sidenav-close;
}

.sidenav.show {
    -webkit-animation-name: sidenav-open;
    animation-name: sidenav-open;
    box-shadow: 4px -7px 12px 1px var(--g-sidenav-shadow);
}

@keyframes sidenav-open {
    0% {
        opacity: 0;
        transform: translateX(-17.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes sidenav-open {
    0% {
        opacity: 0;
        transform: translateX(-17.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sidenav-close {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-17.5rem);
    }
}

@-webkit-keyframes sidenav-close {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-17.5rem);
    }
}

.sidenav-header {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 1px 12px 0 rgb(0 0 0 / 7%);
    margin-bottom: 0.5rem;
}

.sidenav-title {
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.sidenav-close {
    display: inline-block;
    background-color: var(--nav-btn);
    border: 1px solid var(--nav-btn);
    color: var(--text-clr);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    min-height: 32px;
    min-width: 32px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    user-select: none;
}

.sidebar-body {
    padding: 0.5rem 0.25rem 0.5rem 0.75rem;
    text-align: left;
}

.sidenav-heading {
    display: flex;
    vertical-align: middle!important;
    align-items: center;
    column-gap: 8px;
    margin: 4px 0.25rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.sidenav-heading::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee
}

.dark .sidenav-heading::after {
    background: var(--sidenavify-color);
}

.sidebar-body ul {
    display: block;
    margin-left: 0.1rem;
    padding-left: 0;
}

.sidebar-body ul>li:last-child {
    margin-bottom: 20px;
}

.sidebar-body ul.list>li:not(.sidenavify-collapse) a {
    color: #3F51B5
}

.sidebar-body ul.list>li:not(.sidenavify-collapse):hover a {
    color: #3F51B5
}

.sidebar-body ul.list>li:not(.sidenavify-collapse) {
    margin-bottom: 0.25rem;
    font-size: .78rem;
    padding-left: 3rem;
    cursor: pointer;
    font-size: .89rem;
    padding: 0.1rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 50px;
    background: #1266f10d;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5rem;
    font-weight: 500;
}

.sidebar-body ul.list>li:not(.sidenavify-collapse):hover {
    background-color: #08aae714
}

.dark .sidebar-body ul.list>li:not(.sidenavify-collapse),
.dark .sidebar-body ul.list>li:not(.sidenavify-collapse) a {
    color: #bf8b45
}

.sidebar-body ul.list>li:not(.sidenavify-collapse):before {
    content: '\f061';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0.5rem;
    font-weight: 900
}

.sidebar-body ul.list>li:not(.sidenavify-collapse):after {
    content: '\f35d';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0.5rem;
    font-weight: 900;
    position: absolute;
    right: 0.5rem;
}

li.sidenavify-collapse.active>a:first-child {
    background: #08aae714;
}

li.sidenavify-collapse a:first-child .icon-status {
    transform: rotate(0);
    --webkit-transform: rotate(0);
    transition: all 0.3s ease;
}

li.sidenavify-collapse a:first-child .icon-status.rotate {
    transform: rotate(180deg);
    --webkit-transform: rotate(180deg);
}

li.sidenavify-collapse::before {
    font-family: 'Font Awesome 5 Pro', 'Font Awesome 5 Brands';
    margin: 0 12px 0 0;
    font-weight: 900
}

li.sidenavify-collapse>a:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    background: #1266f10d;
    transition: all 0.5s ease;
    border-radius: 50px;
}

li.sidenavify-collapse i,
li.sidenavify-collapse svg {
    margin: 0 0.5rem
}

li.sidenavify-collapse div.nav-btn {
    margin-left: 0.25rem;
    right: 0.75rem;
    position: absolute;
}

li.sidenavify-collapse ul.collapse-list {
    overflow-y: hidden;
    max-height: 0;
    transition: 0.3s max-height;
    padding: 0 0 0.25rem 0.75rem;
}

li.sidenavify-collapse ul.collapse-list.show {
    max-height: 1500px;
    /* max-height animations should always take 0.5s */
    transition: 2s max-height, border-left;
    /* border-left: #ddd solid 1px; */
}

li.sidenavify-collapse ul.collapse-list li:first-child {
    margin-top: 4px;
}

li.sidenavify-collapse ul.collapse-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    font-size: 0.89rem;
    padding: 0.1rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s linear 0s;
    margin-bottom: 0.25rem;
    cursor: pointer;
    font-size: 0.89rem;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0 50px 50px 0;
    transition: all 0.5s ease 0s;
    flex-wrap: nowrap;
    font-weight: 500;
}

li.sidenavify-collapse ul.collapse-list li:before {
    content: '\f105';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0.5rem;
    font-weight: 900
}

li.sidenavify-collapse ul.collapse-list li a {
    color: var(--sidenavify-color);
}

li.sidenavify-collapse ul.collapse-list li:hover {
    background-color: #1266f10d;
}

.dark li.sidenavify-collapse ul.collapse-list li:hover {
    background-color: #222f3561;
}

li.sidenavify-collapse ul.collapse-list li a i,
li.sidenavify-collapse ul.collapse-list li a svg {
    margin-left: 0;
}