[data-g-tooltip-title] {
    position: relative;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.g-tooltip {
    position: absolute;
    top: 0;
    font-size: 0.875rem;
    padding: 0.3125rem 0.5rem;
    border-radius: 0.3125rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    user-select: none;
    background-color: var(--first-color);
    color: var(--first-color-light);
    font-size: var(--normal-font-size);

    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --first-color: #333333;
    --first-color-light: #fff;
    --normal-font-size: 1rem;
}

.g-tooltip::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 3px;
}

.g-tooltip-left {
    left: 0;
    transform: translateX(-100%);
}

.g-tooltip-left::after {
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg);
    right: 1px;
}

[data-g-tooltip-title]:hover .g-tooltip-left {
    opacity: 1;
    left: -1rem;
}

/*========== Tooltip top ==========*/

.g-tooltip-top {
    top: -2.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.g-tooltip-top::after {
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    bottom: 1px;
}

[data-g-tooltip-title]:hover .g-tooltip-top {
    opacity: 1;
    top: -3.25rem;
}

/*========== Tooltip bottom ==========*/

.g-tooltip-bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.g-tooltip-bottom::after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 1px;
}

[data-g-tooltip-title]:hover .g-tooltip-bottom {
    opacity: 1;
    bottom: -1rem;
}

/*========== Tooltip right  ==========*/

.g-tooltip-right {
    right: 0;
    transform: translateX(100%);
}

.g-tooltip-right::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 1px;
}

[data-g-tooltip-title]:hover .g-tooltip-right {
    opacity: 1;
    right: -1rem;
}