<!DOCTYPE html>
<html>

<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Meta Tag Generator Pro</title>
    <!-- Search Engine -->
    <meta name="description" content="Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.">
    <meta name="image" content="https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Meta Tag Generator Pro">
    <meta itemprop="description" content="Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.">
    <meta itemprop="image" content="https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg">
    <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
    <meta property="og:title" content="Meta Tag Generator Pro">
    <meta property="og:description" content="Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.">
    <meta property="og:image" content="https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg">
    <meta property="og:url" content="https://kkupgrader.eu.org/">
    <meta property="og:site_name" content="K K UPGRADER">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Meta Tag Generator Pro">
    <meta property="twitter:description" content="Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.">
    <meta property="twitter:image:src" content="https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg"> Validate your meta tags wi
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/assets/fonts/Roboto.css" rel="stylesheet" />
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css" rel="stylesheet" />
    <link href="/main.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script async="async" defer="defer" src="/assets/js/jquery/3.6.0/jquery.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6988693445063744" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="navbar-brand home me-2 mb-1 d-flex align-items-center" href="/"><img src="/logo.svg" height="50" alt="K K UPGRADER" loading="lazy" style="margin-top: 2px" /></a>
                </div>
                <ul class="navbar-nav flex-row d-none mx-auto d-md-flex">
                    <li class="nav-item me-3 me-lg-1">
                        <form class="input-group w-auto my-auto d-none d-lg-flex">
                            <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" style="min-width: 25rem" />
                            <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i
                ></span>
                        </form>
                    </li>
                </ul>
                <ul class="float-end navbar-nav d-flex flex-row align-items-center">
                    <li class="nav-item me-2">
                        <a class="nav-link active" aria-current="page" href="https://kkupgrader.blogspot.com/">Blog</a
              >
            </li>
            <li class="nav-item me-2">
              <a class="nav-link active" aria-current="page" href="/tools/"
                >Tools</a
              >
            </li>
            <li class="nav-item me-2">
              <a class="nav-link active" aria-current="page" href="/portfolio/"
                >PortFolio</a
              >
            </li>
          </ul>
        </div>
      </nav>

      <main class="w-100" style="margin-top: 65px; background-color: #f0f2f5">
        <div class="container-fluid">
          <div class="p-4 px-5 text-center">
            <h1 class="h4 fw-bold mb-3 mt-4">Meta Tag Generator Pro</h1>
            <p>
              Free SEO Meta tags are HTML tag content that provide metadata
              about your website such as description. Meta tags are used by
              search engines to help index and to provide relevant content in
              their Google search results worldwide.
            </p>
            <div class="mt-3">
              <a class="btn btn-primary me-1 mb-4" href="#!" role="button"
                >Other tools<i class="fas fa-tools ms-2"></i
              ></a>
                        <a class="btn btn-success me-1 mb-4" href="#!" role="button">Design docs<i class="fas fa-file-alt ms-2"></i
              ></a>
                        <a class="btn btn-danger mb-4" href="#!" role="button">Home<i class="fas fa-download ms-2"></i
              ></a>
            </div>
            </div>
            </div>
            </main>

            <!-- Navbar -->
    </header>
    <div class="container-lg my-5">
        <div id="app">
            <section id="section-introduction" class="mb-5 mt-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <p class="mb-2">
                            <strong>Fill in the forms with your data. Then scroll down and copy
                  the generated code. Next, paste at the top of the
                  <code>&lt;HEAD&gt;</code> section of your page.</strong
                >
              </p>
              <p class="mb-2">
                <strong>Note:</strong> The forms are filled up with the dummy data to present you the proper way of how to to this.
                        </p>

                        <button type="button" class="btn btn-primary" v-on:click="clearData">
                clear data
              </button>
                    </div>
                </div>
            </section>
            <!-- Section: Introduction -->

            <!-- Section: Google -->
            <section id="section-google" class="">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 mb-4 mb-md-0">
                        <p class="">
                            <strong>Google search results:</strong>
                        </p>

                        <!-- Section: Preview -->
                        <section class="border bg-white p-4 mb-4">
                            <div id="google-preview">
                                <p class="page-breadcrumbs">
                                    kkupgrader.eu.org > tools > Meta Tag Generator Pro
                                </p>
                                <a target="_blank" href="/">
                                    <h5 class="page-title">{{ google.pageTitle }}</h5>
                                </a>
                                <p class="page-description mb-0">
                                    {{ google.pageDescription }}
                                </p>
                            </div>
                        </section>
                        <!-- Section: Preview -->
                    </div>

                    <div class="col-md-5 mb-4 mb-md-0">
                        <!-- Section: Controls -->
                        <section class="">
                            <div class="card mb-4">
                                <div class="card-header py-3 mb-2">
                                    <strong>Google</strong>
                                </div>
                                <div class="card-body">
                                    <!-- Page title -->
                                    <div class="form-outline">
                                        <input type="text" id="formPageTitleGoogle" class="form-control" maxlength="60" v-model="google.pageTitle" />
                                        <label class="form-label" for="formPageTitleGoogle">Page title</label
                      >
                    </div>
                    <div class="form-text mb-3">60 characters maximum</div>

                    <!-- Page description -->
                    <div class="form-outline">
                      <textarea
                        class="form-control"
                        id="formpageDescriptionGoogle"
                        v-model="google.pageDescription"
                        rows="4"
                        maxlength="160"
                      ></textarea>
                      <label class="form-label" for="formpageDescriptionGoogle"
                        >Page description</label
                      >
                    </div>
                    <div class="form-text mb-3">160 characters maximum</div>

                    <!-- Site image -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formSiteImageGoogle"
                        class="form-control"
                        v-model="google.siteImage"
                      />
                      <label class="form-label" for="formSiteImageGoogle"
                        >Site image</label
                      >
                    </div>
                    <div class="form-text">
                      Valid URL address of the .jpg or .png image
                    </div>
                  </div>
                </div>
              </section>
              <!-- Section: Controls -->
            </div>
          </div>
        </section>
        <!-- Section: Google -->

        <!-- Section: Open Graph -->
        <section id="section-open-graph" class="">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 mb-4 mb-md-0">
              <p class="">
                <strong
                  >Open graph
                  <small class="text-muted"
                    >(Facebook, Pinterest, LinkedIn)</small
                  >:</strong
                >
              </p>

              <!-- Section: Preview -->
              <section class="mb-4">
                <div id="open-graph-preview" class="border rounded">
                  <div
                    id="og-image-wrapper"
                    class="bg-image rounded-top"
                    :style="{ backgroundImage: 'url(' + OG.previewImage + ')' }"
                  ></div>
                  <div id="og-data-wrapper">
                    <p class="og-link text-truncate">{{OG.URL}}</p>
                    <p class="og-title text-truncate">{{OG.pageTitle}}</p>
                    <p class="og-description text-truncate">
                      {{OG.pageDescription}}
                    </p>
                  </div>
                </div>
              </section>
              <!-- Section: Preview -->
            </div>

            <div class="col-md-5 mb-4 mb-md-0">
              <!-- Section: Controls -->
              <section class="">
                <div class="card mb-4">
                  <div class="card-header py-3 mb-2">
                    <strong
                      >Open graph
                      <small class="text-muted"
                        >(Facebook, Pinterest, LinkedIn)</small
                      ></strong
                    >
                  </div>
                  <div class="card-body">
                    <!-- Page title -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formPageTitleOG"
                        class="form-control"
                        maxlength="60"
                        v-model="OG.pageTitle"
                      />
                      <label class="form-label" for="formPageTitleOG"
                        >Page title</label
                      >
                    </div>
                    <div class="form-text mb-3">60 characters maximum</div>

                    <!-- Page description -->
                    <div class="form-outline">
                      <textarea
                        class="form-control"
                        id="formpageDescriptionOG"
                        v-model="OG.pageDescription"
                        rows="2"
                        maxlength="68"
                      ></textarea>
                      <label class="form-label" for="formpageDescriptionOG"
                        >Page description</label
                      >
                    </div>
                    <div class="form-text mb-3">68 characters maximum</div>

                    <!-- Preview image -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formPreviewImageOG"
                        class="form-control"
                        v-model="OG.previewImage"
                      />
                      <label class="form-label" for="formPreviewImageOG"
                        >Preview image</label
                      >
                    </div>
                    <div class="form-text mb-3">1200x628 px recommended</div>

                    <!-- URL -->
                    <div class="form-outline mb-3">
                      <input
                        type="text"
                        id="formURLOG"
                        class="form-control"
                        v-model="OG.URL"
                      />
                      <label class="form-label" for="formURLOG">URL</label>
                                    </div>

                                    <!-- Site name -->
                                    <div class="form-outline mb-3">
                                        <input type="text" id="formSiteNameOG" class="form-control" v-model="OG.siteName" />
                                        <label class="form-label" for="formSiteNameOG">Site name</label
                      >
                    </div>

                    <!-- Locale -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formLocaleOG"
                        class="form-control"
                        v-model="OG.locale"
                      />
                      <label class="form-label" for="formLocaleOG"
                        >Locale</label
                      >
                    </div>
                  </div>
                </div>
              </section>
              <!-- Section: Controls -->
            </div>
          </div>
        </section>
        <!-- Section: Open Graph -->

        <!-- Section: Twitter -->
        <section id="section-twitter" class="mb-5">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 mb-4 mb-md-0">
              <p class="">
                <strong>Twitter:</strong>
              </p>

              <!-- Section: Preview -->
              <section class="">
                <div id="twitter-preview" class="border rounded">
                  <div
                    id="twitter-image-wrapper"
                    :style="{ backgroundImage: 'url(' + twitter.previewImage + ')' }"
                    class="bg-image rounded-top"
                  ></div>
                  <div id="twitter-data-wrapper">
                    <p class="twitter-title text-truncate">
                      {{twitter.pageTitle}}
                    </p>
                    <p class="twitter-description">
                      {{ twitter.pageDescription }}
                    </p>
                  </div>
                </div>
              </section>
              <!-- Section: Preview -->
            </div>

            <div class="col-md-5 mb-4 mb-md-0">
              <!-- Section: Controls -->
              <section class="">
                <div class="card">
                  <div class="card-header py-3 mb-2">
                    <strong>Twitter</strong>
                  </div>
                  <div class="card-body">
                    <!-- Page title -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formPageTitleTwitter"
                        class="form-control"
                        maxlength="60"
                        v-model="twitter.pageTitle"
                      />
                      <label class="form-label" for="formPageTitleTwitter"
                        >Page title</label
                      >
                    </div>
                    <div class="form-text mb-3">60 characters maximum</div>

                    <!-- Page description -->
                    <div class="form-outline">
                      <textarea
                        class="form-control"
                        id="formpageDescriptionTwitter"
                        v-model="twitter.pageDescription"
                        rows="4"
                        maxlength="120"
                      ></textarea>
                      <label class="form-label" for="formpageDescriptionTwitter"
                        >Page description</label
                      >
                    </div>
                    <div class="form-text mb-3">120 characters maximum</div>

                    <!-- Site image -->
                    <div class="form-outline">
                      <input
                        type="text"
                        id="formSiteImageTwitter"
                        class="form-control"
                        v-model="twitter.previewImage"
                      />
                      <label class="form-label" for="formSiteImageTwitter"
                        >Site image</label
                      >
                    </div>
                    <div class="form-text mb-3">
                      Valid URL address of the image
                    </div>
                  </div>
                </div>
              </section>
              <!-- Section: Controls -->
            </div>
          </div>
        </section>

        <!-- Section:  Generated code-->
        <section id="section-generated-code" ref="code" class="mb-5">
          <p class="text-center">
            <strong
              >Copy and paste this generated code at the top of the
              <code>&lt;HEAD&gt;</code> section of your page</strong
            >
          </p>

          <!-- prettier-ignore -->
          <!-- mdbsnippet -->

          <div class="docs-pills">
            <div
              class="d-flex d-none justify-content-between py-2"
              style="padding-left: 0.6rem"
            >
              <ul class="nav nav-pills p-2">
                <li class="nav-item">
                  <a
                    class="nav-link active show"
                    data-mdb-toggle="tab"
                    href="#mdb_eb4b87f2370ea5c187a0bb52478d4421e245727a"
                    role="tab"
                    >HTML</a
                  >
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div
                class="tab-pane fade active show"
                id="mdb_eb4b87f2370ea5c187a0bb52478d4421e245727a"
                role="tabpanel"
              >
                <pre class="grey lighten-3 line-numbers language-html"><code>
                    &lt;!-- COMMON TAGS --&gt;
                    &lt;meta charset=&quot;utf-8&quot;&gt;
                    &lt;title&gt;Meta Tag Generator Pro&lt;/title&gt;
                    &lt;!-- Search Engine --&gt;
                    &lt;meta name=&quot;description&quot; content=&quot;Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.&quot;&gt;
                    &lt;meta name=&quot;image&quot; content=&quot;https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg&quot;&gt;
                    &lt;!-- Schema.org for Google --&gt;
                    &lt;meta itemprop=&quot;name&quot; content=&quot;Meta Tag Generator Pro&quot;&gt;
                    &lt;meta itemprop=&quot;description&quot; content=&quot;Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.&quot;&gt;
                    &lt;meta itemprop=&quot;image&quot; content=&quot;https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg&quot;&gt;
                    &lt;!-- Open Graph general (Facebook, Pinterest &amp; LinkedIn) --&gt;
                    &lt;meta property=&quot;og:title&quot; content=&quot;Meta Tag Generator Pro&quot;&gt;
                    &lt;meta property=&quot;og:description&quot; content=&quot;Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.&quot;&gt;
                    &lt;meta property=&quot;og:image&quot; content=&quot;https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg&quot;&gt;
                    &lt;meta property=&quot;og:url&quot; content=&quot;https://kkupgrader.eu.org/&quot;&gt;
                    &lt;meta property=&quot;og:site_name&quot; content=&quot;K K UPGRADER&quot;&gt;
                    &lt;meta property=&quot;og:locale&quot; content=&quot;en_US&quot;&gt;
                    &lt;meta property=&quot;og:type&quot; content=&quot;website&quot;&gt;
                    &lt;!-- Twitter --&gt;
                    &lt;meta property=&quot;twitter:card&quot; content=&quot;summary&quot;&gt;
                    &lt;meta property=&quot;twitter:title&quot; content=&quot;Meta Tag Generator Pro&quot;&gt;
                    &lt;meta property=&quot;twitter:description&quot; content=&quot;Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.&quot;&gt;
                    &lt;meta property=&quot;twitter:image:src&quot; content=&quot;https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg&quot;&gt;
                    Validate your meta tags wi  </code></pre>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Generated code -->

        <!-- Section: Validation -->
        <section id="section-validation" class="text-center mb-5">
          <p>
            <strong>Validate your meta tags with the following tools</strong>
          </p>

          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <a
                class="btn btn-primary btn-block"
                style="background-color: #3b5998"
                rel="nofollow"
                target="_blank"
                href="https://developers.facebook.com/tools/debug/"
                role="button"
                ><i class="fab fa-facebook-f me-2"></i>Facebook</a
              >
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <a
                class="btn btn-primary btn-block"
                style="background-color: #55acee"
                rel="nofollow"
                target="_blank"
                href="https://cards-dev.twitter.com/validator"
                role="button"
                ><i class="fab fa-twitter me-2"></i>Twitter</a
              >
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <a
                class="btn btn-primary btn-block"
                style="background-color: #c61118"
                rel="nofollow"
                target="_blank"
                href="https://developers.pinterest.com/tools/url-debugger/"
                role="button"
                ><i class="fab fa-pinterest me-2"></i>Pinterest</a
              >
            </div>
          </div>
        </section>
        <!-- Section: Validation -->
      </div>
      <!-- Section: Content -->

      <!--/.Main column-->
      <!-- Right Sidebar -->
      <div class="col-lg-2 d-none d-lg-block">
        <div id="scrollspy" class="sticky-top" style="top: 80px">
          <style>
            .dc-content-animation {
              height: 20px;
              width: 50%;
              display: inline-block;
              animation: placeholderPulse 1s infinite ease-in-out;
              -webkit-animation: placeholderPulse 1s infinite ease-in-out;
            }
            @keyframes placeholderPulse {
              0% {
                background-color: rgba(133, 214, 251, 0.1);
                color: rgba(133, 214, 251, 0.1);
              }
              50% {
                background-color: rgba(133, 214, 251, 0.3);
                color: rgba(133, 214, 251, 0.3);
              }
              100% {
                background-color: rgba(133, 214, 251, 0.1);
                color: rgba(133, 214, 251, 0.1);
              }
            }
          </style>
          <!--DC content-->
          <div
            class="position-relative d-none d-xl-block"
            id="dpl-gtm-scroll"
            style="min-height: 250px; margin-bottom: 1rem"
          >
            <div class="position-absolute w-100 justify-content-center">
              <div
                class="border border-info shadow-3 rounded overflow-hidden"
                style="border-color: rgba(133, 214, 251, 0.3) !important"
              >
                <span
                  class="dc-content-animation mx-2 mb-2 mt-3"
                  style="width: 40%"
                ></span>
                <span
                  class="dc-content-animation mx-2 mb-1"
                  style="width: 70%"
                ></span>
                <span class="dc-content-animation mx-2 mb-1"></span>
                <span
                  class="dc-content-animation mx-2 mb-1"
                  style="width: 80%"
                ></span>
                <span
                  class="dc-content-animation mx-2 mb-1"
                  style="width: 70%"
                ></span>
                <span
                  class="dc-content-animation mx-2 mb-1"
                  style="width: 80%"
                ></span>
                <span
                  class="dc-content-animation mx-2 mb-1"
                  style="width: 85%"
                ></span>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      <!--/. Right Sidebar -->

      <!-- /.Main layout-->

      <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-html.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify.js"></script>

      <script type="text/javascript">
                const App = {
                  data() {
                    return {
                      google: {
                        pageTitle: "Meta Tag Generator Pro",
                        pageDescription:
                          "Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.",
                        siteImage: "https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg",
                      },
                      OG: {
                        pageTitle: "Meta Tag Generator Pro",
                        pageDescription:
                          "Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.",
                        previewImage: "https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg",
                        URL: "https://kkupgrader.eu.org/",
                        siteName: "K K UPGRADER",
                        locale: "en_US",
                      },
                      twitter: {
                        pageTitle: "Meta Tag Generator Pro",
                        pageDescription:
                          "Free SEO Meta tags are HTML tag content that provide metadata about your website such as description. Meta tags are used by search engines to help index and to provide relevant content in their Google search results worldwide.",
                        previewImage: "https://kkupgrader.eu.org/tools/pro-meta-tag-generator/pro-meta-tag--Generator.svg",
                      },
                    };
                  },
                  computed: {},
                  mounted() {
                    document.querySelectorAll(".form-outline").forEach((formOutline) => {
                      new mdb.Input(formOutline).update();
                    });
                  },
                  methods: {
                    getHTMLCode() {
                      return html_beautify(
                        `
                            <!-- COMMON TAGS -->
                            <meta charset="utf-8">
                            <title>${this.google.pageTitle}</title>
                            <!-- Search Engine -->
                            <meta name="description" content="${this.google.pageDescription}">
                            <meta name="image" content="${this.google.siteImage}">
                            <!-- Schema.org for Google -->
                            <meta itemprop="name" content="${this.google.pageTitle}">
                            <meta itemprop="description" content="${this.google.pageDescription}">
                            <meta itemprop="image" content="${this.google.siteImage}">
                            <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
                            <meta property="og:title" content="${this.OG.pageTitle}">
                            <meta property="og:description" content="${this.OG.pageDescription}">
                            <meta property="og:image" content="${this.OG.previewImage}">
                            <meta property="og:url" content="${this.OG.URL}">
                            <meta property="og:site_name" content="${this.OG.siteName}">
                            <meta property="og:locale" content="${this.OG.locale}">
                            <meta property="og:type" content="website">
                            <!-- Twitter -->
                            <meta property="twitter:card" content="summary">
                            <meta property="twitter:title" content="${this.twitter.pageTitle}">
                            <meta property="twitter:description" content="${this.twitter.pageDescription}">
                            <meta property="twitter:image:src" content="${this.twitter.previewImage}">
                             `,
                        {
                          indent_size: "2",
                        }
                      );
                    },
                    getSnippetElement() {
                      return this.$refs.code.querySelector(
                        `.language-${this.getActiveTab()} code`
                      );
                    },
                    getActiveTab() {
                      return this.$refs.code
                        .querySelector(".docs-pills .nav-link.active")
                        .textContent.toLowerCase();
                    },
                    handleTabChange() {
                      const links = this.$refs.code.querySelectorAll(".docs-pills .nav-link");

                      if (links.length > 1) {
                        links.forEach((link) => {
                          link.addEventListener("click", this.updatePrism, false);
                        });
                      }
                    },
                    updateCopyButton(code) {
                      new ClipboardJS(".btn-copy-code", {
                        text: () => {
                          return code;
                        },
                      });
                    },
                    updatePrism() {
                      const snippet = this.getSnippetElement();
                      let activeCode = "";

                      if (this.getActiveTab() === "html") {
                        activeCode = this.getHTMLCode();
                      }

                      snippet.textContent = activeCode;

                      Prism.highlightAll();
                      this.updateCopyButton(activeCode);
                    },

                    mounted() {
                      setTimeout(() => {
                        this.updatePrism();
                        this.handleTabChange();
                      }, 100);
                    },
                    clearData: function (event) {
                      this.google.pageTitle = "";
                      this.google.pageDescription = "";
                      this.google.siteImage = "";
                      this.OG.pageTitle = "";
                      this.OG.pageDescription = "";
                      this.OG.previewImage = "";
                      this.OG.URL = "";
                      this.OG.siteName = "";
                      this.OG.locale = "";
                      this.twitter.pageTitle = "";
                      this.twitter.pageDescription = "";
                      this.twitter.previewImage = "";
                    },
                  },

                  watch: {
                    // 'parent.test': function () {
                    //   this.$nextTick(() => this.updatePrism());
                    // },
                    google: {
                      handler(val) {
                        this.$nextTick(() => this.updatePrism());
                      },
                      deep: true,
                    },

                    OG: {
                      handler(val) {
                        this.$nextTick(() => this.updatePrism());
                      },
                      deep: true,
                    },

                    twitter: {
                      handler(val) {
                        this.$nextTick(() => this.updatePrism());
                      },
                      deep: true,
                    },
                  },
                };

                Vue.createApp(App).mount("#app");
      </script>

      <script src="/assets/js/codebox.js"></script>
    </div>

    <div class="mb-n3 pt-4 text-center text-white trans-bg">
      <div class="container-fluid">
        <section class="text-center">
          <div id="subscribe">
            <div class="wrapper">
              <h3 class="text-white h2">Follow Us on Social Media</h3>
              <p class="mb-3">
                Subscribe to get updated when new templates arrive!
              </p>
              <div class="subscribe-box"></div>
              <div class="d-flex justify-content-center pt-3">
                <a
                  class="me-4 text-white"
                  href="https://t.me/kkupgrader"
                  target="_blank"
                  ><i class="fab fa-telegram-plane fa-lg"></i
                ></a>
                <a
                  class="text-white me-4"
                  href="https://gitub.com/kkupgrader"
                  role="button"
                  target="_blank"
                  ><i class="fab fa-github fa-lg"></i
                ></a>
                <a
                  class="text-white me-4"
                  href="https://Pinterest.com/kkupgrader"
                  role="button"
                  target="_blank"
                  ><i class="fab fa-pinterest fa-lg"></i
                ></a>
                <a
                  class="text-white me-4"
                  href="https://codepen.io/kkupgrader"
                  target="_blank"
                  ><i class="fab fa-codepen fa-lg"></i
                ></a>
                <a
                  class="text-white me-4"
                  href="https://instagram.com/kk.upgrader"
                  role="button"
                  target="_blank"
                  ><i class="fab fa-instagram fa-lg"></i
                ></a>
              </div>
            </div>
          </div>
        </section>
        <section class="row mt-4 pb-4">
          <div class="col-sm-3 mb-4 mb-md-0 section" id="logo">
            <div class="widget Image" data-version="2" id="Image1">
              <h5 class="text-uppercase text-white text-center mb-4">
                K K UPGRADER
              </h5>
              <p class="mb-2 text-center text-white">Learning with passion</p>
            </div>
          </div>
          <div
            class="col-sm-3 mb-4 mb-md-0 text-start section"
            id="Footer Links 1"
          >
            <div>
              <h5 class="text-uppercase text-white mb-4">Other Sites</h5>
              <hr />
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a class="text-white" href="https://kkupgrader.blogspot.com/"
                    ><i class="fas fa-arrow-right pe-3"></i>K K UPGRADER Blog</a
                  >
                </li>
                <li class="mb-2">
                  <a
                    class="text-white"
                    href="https://www.fs-themes.eu.org/2021/09/genesis-links-safelink-with-password.html"
                    ><i class="fas fa-arrow-right pe-3"></i>Fs Themes</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-sm-3 mb-4 mb-md-0 text-start section"
            id="Footer Links 2"
          >
            <div>
              <h5 class="text-uppercase text-white mb-4">Useful Links</h5>
              <hr />
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a class="text-white" href="https://"
                    ><i class="fas fa-arrow-right pe-3"></i>Advertise</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-white" href="/contact-us/"
                    ><i class="fas fa-arrow-right pe-3"></i>Contact Us</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-white" href="/privacy-policy/"
                    ><i class="fas fa-arrow-right pe-3"></i>Privacy Policy</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-white" href="https://"
                    ><i class="fas fa-arrow-right pe-3"></i>Cookies Policy</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-sm-3 mb-4 mb-md-0 text-start section"
            id="Footer Links 3"
          >
            <div>
              <h5 class="text-uppercase text-white mb-4">Contact</h5>
              <hr />
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a class="text-white" href="mailto:kkupgrader.fs@gmail.com"
                    ><i class="fas fa-at me-1"></i>kkupgrader.fs@gmail.com</a
                  >
                </li>
                <li class="mb-2">
                  <a
                    class="text-white"
                    href="https://instagram.com/kanakkholwal"
                    ><i class="fab fa-instagram me-1"></i> kanakkholwal</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center text-white bg-dark p-3">
        Copyright &#169;
        <a href="/" title="K K UPGRADER"
          ><span title="K K UPGRADER">K K UPGRADER</span></a
        >
        - All Right Reserved
      </div>
    </footer>

    <script src="/main.js" type="text/javascript"></script>

    <!-- Scripts -->
    <script
      async="async"
      defer="defer"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"
      type="text/javascript"
    ></script>
    <script
      async="async"
      defer="defer"
      src="/assets/js/default.min.js"
      type="text/javascript"
    ></script>
  </body>
</html>