html{
--trans-bg:linear-gradient(to right, #00c3ff, #126d9a);
--default-color:#00c3ff;
--main-color:#00c3ff;
--nav-bg:#ffffff;
--nav-clr:#262626;
--link-clr:#6351ce;
--link-hvr:#126d9a;
--trans-bg:linear-gradient(to right, #22a7f0, #0081ff);
--primary:#2396c3;
--secondary:#B23CFD;
--success:#00B74A;
--danger:#F93154;
--warning:#FFA900;
--info:#39C0ED;
--dark:#262626;
--yellow-d:#f19f00;
--yellow-l:#f3ae25;
--border-clr:#eee;
--body-bg:#fff;
--title-clr:#666666;
--title-color:var(--title-clr);
--text-clr:#262626;
--title-font:"Roboto"
--post-font:"Poppins";
--body-font:"Roboto";
}
/* Set Colors */
a{color:var(--link-clr)}
a:hover{color:var(--link.hvr)}
.btn-default,.btn-default:hover{background:var(--default-color);color:#fff}
.btn-outline-default,.btn-outline:hover{color:var(--default-color);border-color:var(--default-color);}
.trans-default,.trans-default:hover{background:var(--trans-bg);color:#fff}
.bg-primary{background:var(--primary)!important}
.text-primary,a.link-primary,a.link-primary:hover,a.link-primary:focus{color:var(--primary)!important}
.bg-danger{background:var(--danger)!important}
.text-danger,a.link-danger,a.link-danger:hover,a.link-danger:focus{color:var(--danger!)important}
.bg-info{background:var(--info)!important}
.text-info,a.link-info,a.link-info:hover,a.link-info:focus{color:var(--info)!important}
.bg-success{background:var(--success)!important}
.text-success,a.link-success,a.link-success:hover,a.link-success:focus{color:var(--success)!important}
.bg-warning{background:var(--warning)!important}
.text-warning,a.link-warning,a.link-warning:hover,a.link-warning:focus{color:var(--warning)!important}
.bg-dark{background:var(--dark)!important}
.text-dark,a.link-dark,a.link-dark:hover,a.link-dark:focus{color:var(--dark)!important}
.bg-secondary{background:var(--secondary)!important}
.text-secondary,a.link-secondary,a.link-secondary:hover,a.link-secondary:focus{color:var(--secondary)!important}
.img{aspect-ratio:16/9!important}
.bg-trans{background:transparent!important}
nav{background:var(--nav-bg);color:var(--nav-clr)}
#hero{background:var(--trans-bg); z-index:0;}
.trans-bg{background:var(--trans-bg); z-index:0;}
body{background:#fff;font-family:"Roboto"}
li{list-style: none;}
.ellipsis-1,.ellipsis-2,.ellipsis-3,.snippet-item,.ellipsis-4{display: -webkit-box;
  -webkit-box-orient: vertical;overflow: hidden;}
  .ellipsis-1{-webkit-line-clamp: 1;}
  .ellipsis-2{-webkit-line-clamp: 2;}
  .snippet-item,.ellipsis-3{-webkit-line-clamp: 3;}
  .ellipsis-4{-webkit-line-clamp: 4;}
.wave{z-index:-1}
.wave .a{fill:#424ef4}.wave .b,.wave2 .b{clip-path:url(#a)}.wave .c,.wave .d{fill:#fbfbfb}.wave2 .c,.wave2 .d{fill:#fbfbfb}.wave .d,.wave2 .d{opacity:.5;isolation:isolate}
/* Circle */
.bubbles{
position:absolute;
width:100%;
height: 100%;
z-index:0;
overflow:hidden;
top:0;
left:0;
}
.bubble{
position: absolute;
bottom:-100px;
width:40px;
height: 40px;
background:#f1f1f1;
border-radius:50%;
opacity:0.5;
animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
width:40px;
height:40px;
left:10%;
animation-duration:8s;
}
.bubble:nth-child(2){
width:20px;
height:20px;
left:20%;
animation-duration:5s;
animation-delay:1s;
}
.bubble:nth-child(3){
width:50px;
height:50px;
left:35%;
animation-duration:7s;
animation-delay:2s;
}
.bubble:nth-child(4){
width:80px;
height:80px;
left:50%;
animation-duration:11s;
animation-delay:0s;
}
.bubble:nth-child(5){
width:35px;
height:35px;
left:55%;
animation-duration:6s;
animation-delay:1s;
}
.bubble:nth-child(6){
width:45px;
height:45px;
left:65%;
animation-duration:8s;
animation-delay:3s;
}
.bubble:nth-child(7){
width:90px;
height:90px;
left:70%;
animation-duration:12s;
animation-delay:2s;
}
.bubble:nth-child(8){
width:25px;
height:25px;
left:80%;
animation-duration:6s;
animation-delay:2s;
}
.bubble:nth-child(9){
width:15px;
height:15px;
left:70%;
animation-duration:5s;
animation-delay:1s;
}
.bubble:nth-child(10){
width:90px;
height:90px;
left:25%;
animation-duration:10s;
animation-delay:4s;
}
@keyframes rise{
0%{
bottom:-100px;
transform:translateX(0);
}
50%{
transform:translate(100px);
}
100%{
bottom:1080px;
transform:translateX(-200px);
}
}

.hide,
.hidden {
  display: none;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
*,body {
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
 main ul>li:before{content:'\f061';font-family:'Font Awesome 5 Pro';margin:0 15px 0 0;font-weight:900}
img{display: block;width: 100%;height: auto;border-radius: 0.5rem;}
body.modal-open {
  padding-right: 0 !important;
}
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes slide-right {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2px);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
.col-lg-4 .bg-image img {
  width: 100;
height: auto;
max-height: 15rem;
}

.row .card{
  box-shadow: 9.91px 9.91px 15px #DADADA, -9.91px -9.91px 15px #dae4e4;}