  .g-tab-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
  }
  
  .g-tab-bar .g-tab-toggle {
      align-items: center;
      border-bottom: 3px solid transparent;
      color: #65676b;
      cursor: pointer;
      display: flex;
      justify-content: center;
      outline: 0 !important;
      outline-style: none;
      padding-left: 0.75em;
      padding-right: 0.75em;
      touch-action: manipulation;
      user-select: none;
  }
  
  .g-tab-bar .g-tab-toggle.active {
      border-bottom-color: var(--g-primary);
      color: #000000;
      font-weight: 500;
  }
  
  .g-tabs-content {
      width: 100%;
  }
  
  .g-tabs-content>.g-tab-content {
      display: none;
      opacity: 0;
      transition: opacity 400ms ease-out;
  }
  
  .g-tabs-content>.g-tab-content.show {
      display: block;
      opacity: 1;
      transition: opacity 400ms ease-out;
  }
  
  .g-form-input {
      box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
      transition: box-shadow .15s ease;
      display: block;
      width: 100%;
      height: calc(1.5em + 1.25rem + 2px);
      padding: 0.625rem 0.75rem;
      font-weight: 400;
      line-height: 1.5;
      /* color: #8898aa; */
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #cad1d7;
      border-radius: 0.25rem;
  }