.icon-btn {
    background-color: var(--nav-btn);
    border: 1px solid var(--nav-btn);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    min-height: 32px;
    min-width: 32px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    user-select: none;
    color: var(--text-clr)
}

.icon-btn.circle {
    border-radius: 50%
}

.g-btn {
    display: inline-block;
    font-size: 0.9375rem;
    text-transform: uppercase;
    background: #11acef;
    color: #fff;
    --webkit-box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    outline: none;
    border: 0;
    font-weight: 500;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0 20px 0 0;
    border-radius: 5px;
    transition: all .2s;
    --moz-transition: all .2s;
    --webkit-transition: all .2s;
}

.g-btn:hover {
    --webkit-box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    --webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    background: #11acef;
    color: #fff;
}

.g-btn.g-btn-primary,
.g-bg-primary {
    background-color: var(--g-primary);
    color: #fbfbfb;
}

.g-btn.g-btn-primary:hover {
    background-color: var(--g-primary-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-secondary,
.g-bg-secondary {
    background-color: var(--g-secondary);
    color: #fbfbfb;
}

.g-btn.g-btn-secondary:hover {
    background-color: var(--g-secondary-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-info,
.g-bg-info {
    background-color: var(--g-info);
    color: #fbfbfb;
}

.g-btn.g-btn-info:hover {
    background-color: var(--g-info-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-warning,
.g-bg-warning {
    background-color: var(--g-warning);
    color: #fbfbfb;
}

.g-btn.g-btn-warning:hover {
    background-color: var(--g-warning-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-danger,
.g-bg-danger {
    background-color: var(--g-danger);
    color: #fbfbfb;
}

.g-btn.g-btn-danger:hover {
    background-color: var(--g-danger-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-success,
.g-bg-success {
    background-color: var(--g-success);
    color: #fbfbfb;
}

.g-btn.g-btn-success:hover {
    background-color: var(--g-success-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-dark,
.g-bg-dark {
    background-color: var(--g-dark);
    color: #fbfbfb;
}

.g-btn.g-btn-dark:hover {
    background-color: var(--g-dark-hvr);
    color: #fbfbfb;
}

.g-btn.g-btn-light,
.g-bg-light {
    background-color: var(--g-light);
    color: #000000;
}

.g-btn.g-btn-light:hover {
    background-color: var(--g-light-hvr);
    color: #000000;
}