html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  color: #45E1E1;
  color: #45E1E1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:not([class]):hover, a:not([class]).active {
  color: #45E1E1;
  opacity: 1;
}

a:not([class]):after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #45E1E1;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

a:not([class]):hover:after, a:not([class]).active:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

a:is(:hover, :focus, :active) {
  text-decoration: none;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: #fbfbfb;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f2f2f2;
  cursor: pointer !important;
}

::-webkit-scrollbar:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  -webkit-box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:active {
  -webkit-box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

::-moz-selection {
  background: #39C0ED;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #39C0ED;
  color: #fff;
  text-shadow: none;
}
/*# sourceMappingURL=reset.css.map */