:root {
  --primary: $primary;
  --secondary: $secondary;
  --light: $light;
  --white: $white;
  --dark: $dark;
  --black: $black;
  --text-light: #8a8f98;
  --text-lighter: #757783;
  --random:96px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:not([class]) {
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  color: #45E1E1;
  color: #45E1E1;
  transition: all 0.5s ease;
}
a:not([class]):hover, a:not([class]).active {
  color: #45E1E1;
  opacity: 1;
}
a:not([class]):after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #45E1E1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
a:not([class]):hover:after, a:not([class]).active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a:is(:hover, :focus, :active) {
  text-decoration: none;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: #fbfbfb;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgb(242, 242, 242);
  cursor: pointer !important;
}

::-webkit-scrollbar:hover {
  background-color: rgb(242, 242, 242);
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

::-moz-selection {
  background: #39C0ED;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #39C0ED;
  color: #fff;
  text-shadow: none;
}

body {
  color: rgba(255, 255, 255, 0.7490196078);
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: "Euclid Circular A";
  font-weight: 400;
  background: #001829;
}

header {
  background: #001829;
  width: 100%;
  padding: 1rem;
  background-position-x: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='visual' viewBox='0 0 960 540' width='960' preserveAspectRatio='xMidYMax slice' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3e%3crect x='0' y='0' width='960' height='540' fill='%23001829'%3e%3c/rect%3e%3cg fill='%230F4C75'%3e%3ccircle r='145' cx='680' cy='110'%3e%3c/circle%3e%3ccircle r='97' cx='360' cy='31'%3e%3c/circle%3e%3c/g%3e%3c/svg%3e");
}
header .navbar {
  position: relative;
  width: 100%;
  max-width: 1200px;
  border-radius: 40px;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.0509803922);
  color: #BBE1FA;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: 1px solid rgba(193, 179, 179, 0.0588235294);
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 9;
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
header .navbar .nav-brand {
  margin-left: 0.25rem;
  margin-right: auto;
  justify-content: flex-start;
}
header .navbar .nav-brand .logo {
  overflow: hidden;
}
header .navbar .nav-brand .logo img {
  margin-top: -7px;
  pointer-events: none;
}
header .navbar .nav-content {
  position: relative;
}
header .navbar .nav-content .nav-toggler {
  display: block;
  color: #fbfbfb;
  border-radius: 10px;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0.5rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (min-width: 768px) {
  header .navbar .nav-content .nav-toggler {
    display: none;
  }
}
header .navbar .nav-content .nav-toggler span {
  display: block;
  background: #fbfbfb;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .navbar .nav-content .nav-toggler span:nth-child(1) {
  top: 0px;
}
header .navbar .nav-content .nav-toggler span:nth-child(2) {
  top: 10px;
}
header .navbar .nav-content .nav-toggler span:nth-child(3) {
  top: 20px;
}
header .navbar .nav-content .nav-toggler.active span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
header .navbar .nav-content .nav-toggler.active span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header .navbar .nav-content .nav-toggler.active span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}
header .navbar .nav-content .nav-list {
  margin-right: 0.25rem;
  margin-left: auto;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  header .navbar .nav-content .nav-list {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 3.25rem;
    transform: scale(0);
    transform-origin: 90% 0;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: rgba(255, 255, 255, 0.0509803922);
    color: #BBE1FA;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    border: 1px solid rgba(193, 179, 179, 0.0588235294);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    min-width: 8rem;
    height: auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  header .navbar .nav-content .nav-list.open {
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
}
header .navbar .nav-content .nav-list .nav-item {
  position: relative;
  margin-right: 0.75rem;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
  letter-spacing: 1px;
}
header .navbar .nav-content .nav-list .nav-item:hover .nav-link, header .navbar .nav-content .nav-list .nav-item.active .nav-link {
  color: #fbfbfb;
  opacity: 1;
}
header .navbar .nav-content .nav-list .nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fbfbfb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
@media (max-width: 768px) {
  header .navbar .nav-content .nav-list .nav-item:after {
    display: none;
  }
}
header .navbar .nav-content .nav-list .nav-item:hover:after, header .navbar .nav-content .nav-list .nav-item.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 768px) {
  header .navbar .nav-content .nav-list .nav-item {
    width: 100%;
    flex: 1 1 auto;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  header .navbar .nav-content .nav-list .nav-item:hover {
    transform: scale(110%);
  }
}
header .navbar .nav-content .nav-list .nav-item .nav-link {
  color: #BBE1FA;
  opacity: 1;
}
header .navbar.scrolled {
  position: fixed;
  left: 0;
  right: 0;
  max-width: calc(100% + 2rem);
  transform: translateY(-1rem);
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: 2px 7px 20px 0 rgba(0, 0, 0, 0.1607843137), 2px 9px 8px 0 rgba(0, 0, 0, 0.1215686275);
}
header .hero-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
header .hero-container .hero-content {
  padding: 3.5rem;
  text-align: center;
  z-index: 2;
}
header .hero-container .hero-content .hero-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 768px) {
  header .hero-container .hero-content .hero-heading {
    font-size: 2.1rem;
  }
}
header .hero-container .hero-content .hero-paragraph {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  header .hero-container .hero-content .hero-paragraph {
    font-size: 1.35rem;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main section {
  width: 100%;
  height: auto;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main section:nth-child(even) {
  flex-direction: row-reverse;
}
main section .sectionImg {
  flex: 1 1 18.75rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1rem;
}
main section .sectionImg img {
  width: 100%;
  height: auto;
  max-height: 20rem;
}
main section .sectionContent {
  flex: 1 1 24rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.75rem;
  border-bottom: thin solid #1B262C;
}
main section .sectionContent h1 {
  margin-bottom: 0.25rem;
}
main section .sectionContent h3 {
  margin-bottom: 0.5rem;
}
main section .sectionContent p {
  margin-bottom: 1.75rem;
}
main section .sectionContent .showCase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}
main section .sectionContent .showCase .item {
  position: relative;
  flex: 1 1 150px;
  max-height: 9rem;
  max-width: 16rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  aspect-ratio: 16/9;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0.25rem auto;
}
main section .sectionContent .showCase .item img {
  width: 100%;
  height: auto;
}
main section .sectionContent .showCase .item:hover {
  transform: translateY(-0.5rem);
}

footer {
  width: 100%;
  height: auto;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: thin solid #1B262C;
  margin-top: 1rem;
}
footer .copyright {
  flex: 0.8 0.5 auto;
}
@media (max-width: 768px) {
  footer .copyright {
    font-size: 0.9em;
  }
}
footer .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  flex: 0.5 0.3 auto;
  flex-wrap: wrap;
}
footer .social .icon {
  color: #0F4C75;
  transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
footer .social .icon:hover {
  color: #fbfbfb;
  transform: rotateY(360deg);
}

.ripple-effect {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.ripple-effect .ripple {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  touch-action: none;
  transition-property: transform, opacity;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform-origin: center;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  background: var(--ripple-background, rgba(255, 255, 255, 0.5));
  transform: translate(-50%, -50%) scale(var(--s, 1));
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  transition: calc(var(--t, 0) * var(--ripple-duration, 1000ms)) var(--ripple-easing, cubic-bezier(0, 0, 0.15, 1));
}

.footer-section {
  width: 100%;
  padding: 1rem;
}
.footer-section .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex-wrap: wrap;
  opacity: 0.8;
}
.footer-section .footer-links .footer-link {
  font-size: 1rem;
  border-radius: 7px;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer-section .footer-links .footer-link:hover {
  transform: translateY(-10%);
  opacity: 1;
}

.ContactsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.ContactsSection form {
  flex: 1 1 20rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 768px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ContactsSection .ContactInfo {
  display: flex;
  align-items: center;
  flex: 1 1 24rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ContactsSection .ContactInfo h2 {
  padding-bottom: 5px;
  color: #fff;
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -2px;
}
.ContactsSection .ContactInfo h2 span {
  background: linear-gradient(to right, #3282B8, #0059B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.ContactsSection .ContactInfo p {
  max-width: 29.625rem;
  margin-top: 24px;
}
.ContactsSection .ContactInfo .ContactSocial {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.ContactsSection .ContactInfo .ContactSocial a {
  color: #BBE1FA;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: all 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ContactsSection .ContactInfo .ContactSocial a:hover {
  background: #032b3a;
  color: #31c9c9;
  transform: scale(1.25) rotate(360deg);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.form-element {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.25rem auto;
  width: calc(100% - 2rem);
}
.form-element .form-label {
  order: 1;
}
.form-element .form-input {
  order: 2;
  width: calc(100% - 2rem);
}
.form-element .form-textarea {
  order: 2;
  width: calc(100% - 2rem);
}

.form-input {
  order: 2;
  border-radius: 0.25rem;
  padding: 0.75rem 0.65rem 0.5rem;
  border: 2px solid #212930;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.0509803922);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.95;
  color: rgba(36, 126, 141, 0.9019607843);
  font-weight: 600;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  caret-color: #0F4C75;
}
.form-input::-moz-placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-input:-ms-input-placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-input::placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-input:focus {
  border-color: #0F4C75;
}
.form-input:focus::-moz-placeholder {
  opacity: 1;
}
.form-input:focus:-ms-input-placeholder {
  opacity: 1;
}
.form-input:focus::placeholder {
  opacity: 1;
}

.form-label {
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
  color: white;
  opacity: 0.8;
}

.form-textarea {
  border: 2px solid #212930;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.0509803922);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.75rem 0.5rem;
  color: rgba(36, 126, 141, 0.9019607843);
  font-weight: 600;
  width: 100%;
  height: auto;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
  resize: none;
  caret-color: #0F4C75;
}
.form-textarea::-moz-placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-textarea:-ms-input-placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-textarea::placeholder {
  opacity: 0.75;
  color: rgba(143, 175, 181, 0.5568627451);
}
.form-textarea:focus {
  border-color: #0F4C75;
}
.form-textarea:focus::-moz-placeholder {
  opacity: 1;
}
.form-textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
.form-textarea:focus::placeholder {
  opacity: 1;
}

.form-submit {
  display: inline-flex;
  color: #fff;
  background: #1d5eff;
  font-weight: 700;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
  padding: 0.625rem 1.5rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.9;
  min-width: 12rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.form-submit:hover, .form-submit.active {
  opacity: 1;
  background: #1d5eff;
  color: white;
  transform: translateY(-0.1rem);
}

.rubber-effect {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.rubber-effect:hover {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}
@-webkit-keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scaleX(1);
  }
}

.lazyShimmer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  opacity: 1;
  background-color: #dddbdd;
}
.lazyShimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, #EEEEEE 0%, #EEEEEE 40%, #DDDDDD 50%, #DDDDDD 55%, #EEEEEE 60%, #EEEEEE 100%);
  -webkit-animation: shimmer 1s infinite;
  animation: shimmer 1s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.lazyShimmer:before {
  content: " ";
  display: block;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

.btn {
  display: inline-flex;
  color: #fff;
  background: #212930;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1019607843);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
  padding: 0.625rem 1.5rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.9;
}
.btn:hover, .btn.active {
  opacity: 1;
}
.btn.btn-primary {
  background: #0F4C75;
}
.btn.btn-success {
  background: #02b605;
}
.btn.btn-danger {
  background: #fe3e63;
}
.btn.btn-warning {
  background: #feb707;
}
.btn.btn-dark {
  background: #1B262C;
}
.btn.btn-black {
  background: #03243b;
}
.btn.btn-light {
  background: #BBE1FA;
  color: #1B262C;
}
.btn.btn-link {
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.btn.btn-link:hover, .btn.btn-link.active {
  color: #fbfbfb;
  opacity: 1;
}
.btn.btn-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fbfbfb;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
.btn.btn-link:hover:after, .btn.btn-link.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn.btn-sm {
  padding: 0.375rem 1rem 0.3125rem;
  font-size: 0.75rem;
  line-height: 1.5;
}
.btn.btn-block {
  width: 100%;
}
.btn.btn-lg {
  padding: 0.75rem 1.6875rem 0.6875rem;
  font-size: 0.875rem;
  line-height: 1.6;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  width: auto;
}

.row-cols-1 > *, .row-cols-auto > * {
  flex: 0 0 auto;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-2 > *, .row-cols-3 > * {
  flex: 0 0 auto;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-4 > *, .row-cols-5 > * {
  flex: 0 0 auto;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-auto, .row-cols-6 > * {
  flex: 0 0 auto;
}

.col-auto {
  width: auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-1, .col-2 {
  flex: 0 0 auto;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-3, .col-4 {
  flex: 0 0 auto;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-5, .col-6 {
  flex: 0 0 auto;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-7, .col-8 {
  flex: 0 0 auto;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-9, .col-10 {
  flex: 0 0 auto;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-11, .col-12 {
  flex: 0 0 auto;
}

.col-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0, .gx-0 {
  --bs-gutter-x:0;
}

.g-0, .gy-0 {
  --bs-gutter-y:0;
}

.g-1, .gx-1 {
  --bs-gutter-x:0.25rem;
}

.g-1, .gy-1 {
  --bs-gutter-y:0.25rem;
}

.g-2, .gx-2 {
  --bs-gutter-x:0.5rem;
}

.g-2, .gy-2 {
  --bs-gutter-y:0.5rem;
}

.g-3, .gx-3 {
  --bs-gutter-x:1rem;
}

.g-3, .gy-3 {
  --bs-gutter-y:1rem;
}

.g-4, .gx-4 {
  --bs-gutter-x:1.5rem;
}

.g-4, .gy-4 {
  --bs-gutter-y:1.5rem;
}

.g-5, .gx-5 {
  --bs-gutter-x:3rem;
}

.g-5, .gy-5 {
  --bs-gutter-y:3rem;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    width: auto;
  }

  .row-cols-sm-1 > *, .row-cols-sm-auto > * {
    flex: 0 0 auto;
  }

  .row-cols-sm-1 > * {
    width: 100%;
  }

  .row-cols-sm-2 > * {
    width: 50%;
  }

  .row-cols-sm-2 > *, .row-cols-sm-3 > * {
    flex: 0 0 auto;
  }

  .row-cols-sm-3 > * {
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    width: 25%;
  }

  .row-cols-sm-4 > *, .row-cols-sm-5 > * {
    flex: 0 0 auto;
  }

  .row-cols-sm-5 > * {
    width: 20%;
  }

  .row-cols-sm-6 > * {
    width: 16.6666666667%;
  }

  .col-sm-auto, .row-cols-sm-6 > * {
    flex: 0 0 auto;
  }

  .col-sm-auto {
    width: auto;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-1, .col-sm-2 {
    flex: 0 0 auto;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-3, .col-sm-4 {
    flex: 0 0 auto;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-5, .col-sm-6 {
    flex: 0 0 auto;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-7, .col-sm-8 {
    flex: 0 0 auto;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-9, .col-sm-10 {
    flex: 0 0 auto;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-11, .col-sm-12 {
    flex: 0 0 auto;
  }

  .col-sm-12 {
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .g-sm-0, .gx-sm-0 {
    --bs-gutter-x:0;
  }

  .g-sm-0, .gy-sm-0 {
    --bs-gutter-y:0;
  }

  .g-sm-1, .gx-sm-1 {
    --bs-gutter-x:0.25rem;
  }

  .g-sm-1, .gy-sm-1 {
    --bs-gutter-y:0.25rem;
  }

  .g-sm-2, .gx-sm-2 {
    --bs-gutter-x:0.5rem;
  }

  .g-sm-2, .gy-sm-2 {
    --bs-gutter-y:0.5rem;
  }

  .g-sm-3, .gx-sm-3 {
    --bs-gutter-x:1rem;
  }

  .g-sm-3, .gy-sm-3 {
    --bs-gutter-y:1rem;
  }

  .g-sm-4, .gx-sm-4 {
    --bs-gutter-x:1.5rem;
  }

  .g-sm-4, .gy-sm-4 {
    --bs-gutter-y:1.5rem;
  }

  .g-sm-5, .gx-sm-5 {
    --bs-gutter-x:3rem;
  }

  .g-sm-5, .gy-sm-5 {
    --bs-gutter-y:3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    width: auto;
  }

  .row-cols-md-1 > *, .row-cols-md-auto > * {
    flex: 0 0 auto;
  }

  .row-cols-md-1 > * {
    width: 100%;
  }

  .row-cols-md-2 > * {
    width: 50%;
  }

  .row-cols-md-2 > *, .row-cols-md-3 > * {
    flex: 0 0 auto;
  }

  .row-cols-md-3 > * {
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    width: 25%;
  }

  .row-cols-md-4 > *, .row-cols-md-5 > * {
    flex: 0 0 auto;
  }

  .row-cols-md-5 > * {
    width: 20%;
  }

  .row-cols-md-6 > * {
    width: 16.6666666667%;
  }

  .col-md-auto, .row-cols-md-6 > * {
    flex: 0 0 auto;
  }

  .col-md-auto {
    width: auto;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-1, .col-md-2 {
    flex: 0 0 auto;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-3, .col-md-4 {
    flex: 0 0 auto;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-5, .col-md-6 {
    flex: 0 0 auto;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-7, .col-md-8 {
    flex: 0 0 auto;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-9, .col-md-10 {
    flex: 0 0 auto;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-11, .col-md-12 {
    flex: 0 0 auto;
  }

  .col-md-12 {
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .g-md-0, .gx-md-0 {
    --bs-gutter-x:0;
  }

  .g-md-0, .gy-md-0 {
    --bs-gutter-y:0;
  }

  .g-md-1, .gx-md-1 {
    --bs-gutter-x:0.25rem;
  }

  .g-md-1, .gy-md-1 {
    --bs-gutter-y:0.25rem;
  }

  .g-md-2, .gx-md-2 {
    --bs-gutter-x:0.5rem;
  }

  .g-md-2, .gy-md-2 {
    --bs-gutter-y:0.5rem;
  }

  .g-md-3, .gx-md-3 {
    --bs-gutter-x:1rem;
  }

  .g-md-3, .gy-md-3 {
    --bs-gutter-y:1rem;
  }

  .g-md-4, .gx-md-4 {
    --bs-gutter-x:1.5rem;
  }

  .g-md-4, .gy-md-4 {
    --bs-gutter-y:1.5rem;
  }

  .g-md-5, .gx-md-5 {
    --bs-gutter-x:3rem;
  }

  .g-md-5, .gy-md-5 {
    --bs-gutter-y:3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    width: auto;
  }

  .row-cols-lg-1 > *, .row-cols-lg-auto > * {
    flex: 0 0 auto;
  }

  .row-cols-lg-1 > * {
    width: 100%;
  }

  .row-cols-lg-2 > * {
    width: 50%;
  }

  .row-cols-lg-2 > *, .row-cols-lg-3 > * {
    flex: 0 0 auto;
  }

  .row-cols-lg-3 > * {
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    width: 25%;
  }

  .row-cols-lg-4 > *, .row-cols-lg-5 > * {
    flex: 0 0 auto;
  }

  .row-cols-lg-5 > * {
    width: 20%;
  }

  .row-cols-lg-6 > * {
    width: 16.6666666667%;
  }

  .col-lg-auto, .row-cols-lg-6 > * {
    flex: 0 0 auto;
  }

  .col-lg-auto {
    width: auto;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-1, .col-lg-2 {
    flex: 0 0 auto;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-3, .col-lg-4 {
    flex: 0 0 auto;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-5, .col-lg-6 {
    flex: 0 0 auto;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-7, .col-lg-8 {
    flex: 0 0 auto;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-9, .col-lg-10 {
    flex: 0 0 auto;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-11, .col-lg-12 {
    flex: 0 0 auto;
  }

  .col-lg-12 {
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .g-lg-0, .gx-lg-0 {
    --bs-gutter-x:0;
  }

  .g-lg-0, .gy-lg-0 {
    --bs-gutter-y:0;
  }

  .g-lg-1, .gx-lg-1 {
    --bs-gutter-x:0.25rem;
  }

  .g-lg-1, .gy-lg-1 {
    --bs-gutter-y:0.25rem;
  }

  .g-lg-2, .gx-lg-2 {
    --bs-gutter-x:0.5rem;
  }

  .g-lg-2, .gy-lg-2 {
    --bs-gutter-y:0.5rem;
  }

  .g-lg-3, .gx-lg-3 {
    --bs-gutter-x:1rem;
  }

  .g-lg-3, .gy-lg-3 {
    --bs-gutter-y:1rem;
  }

  .g-lg-4, .gx-lg-4 {
    --bs-gutter-x:1.5rem;
  }

  .g-lg-4, .gy-lg-4 {
    --bs-gutter-y:1.5rem;
  }

  .g-lg-5, .gx-lg-5 {
    --bs-gutter-x:3rem;
  }

  .g-lg-5, .gy-lg-5 {
    --bs-gutter-y:3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    width: auto;
  }

  .row-cols-xl-1 > *, .row-cols-xl-auto > * {
    flex: 0 0 auto;
  }

  .row-cols-xl-1 > * {
    width: 100%;
  }

  .row-cols-xl-2 > * {
    width: 50%;
  }

  .row-cols-xl-2 > *, .row-cols-xl-3 > * {
    flex: 0 0 auto;
  }

  .row-cols-xl-3 > * {
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    width: 25%;
  }

  .row-cols-xl-4 > *, .row-cols-xl-5 > * {
    flex: 0 0 auto;
  }

  .row-cols-xl-5 > * {
    width: 20%;
  }

  .row-cols-xl-6 > * {
    width: 16.6666666667%;
  }

  .col-xl-auto, .row-cols-xl-6 > * {
    flex: 0 0 auto;
  }

  .col-xl-auto {
    width: auto;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-1, .col-xl-2 {
    flex: 0 0 auto;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-3, .col-xl-4 {
    flex: 0 0 auto;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-5, .col-xl-6 {
    flex: 0 0 auto;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-7, .col-xl-8 {
    flex: 0 0 auto;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-9, .col-xl-10 {
    flex: 0 0 auto;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-11, .col-xl-12 {
    flex: 0 0 auto;
  }

  .col-xl-12 {
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xl-0, .gx-xl-0 {
    --bs-gutter-x:0;
  }

  .g-xl-0, .gy-xl-0 {
    --bs-gutter-y:0;
  }

  .g-xl-1, .gx-xl-1 {
    --bs-gutter-x:0.25rem;
  }

  .g-xl-1, .gy-xl-1 {
    --bs-gutter-y:0.25rem;
  }

  .g-xl-2, .gx-xl-2 {
    --bs-gutter-x:0.5rem;
  }

  .g-xl-2, .gy-xl-2 {
    --bs-gutter-y:0.5rem;
  }

  .g-xl-3, .gx-xl-3 {
    --bs-gutter-x:1rem;
  }

  .g-xl-3, .gy-xl-3 {
    --bs-gutter-y:1rem;
  }

  .g-xl-4, .gx-xl-4 {
    --bs-gutter-x:1.5rem;
  }

  .g-xl-4, .gy-xl-4 {
    --bs-gutter-y:1.5rem;
  }

  .g-xl-5, .gx-xl-5 {
    --bs-gutter-x:3rem;
  }

  .g-xl-5, .gy-xl-5 {
    --bs-gutter-y:3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    width: auto;
  }

  .row-cols-xxl-1 > *, .row-cols-xxl-auto > * {
    flex: 0 0 auto;
  }

  .row-cols-xxl-1 > * {
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    width: 50%;
  }

  .row-cols-xxl-2 > *, .row-cols-xxl-3 > * {
    flex: 0 0 auto;
  }

  .row-cols-xxl-3 > * {
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    width: 25%;
  }

  .row-cols-xxl-4 > *, .row-cols-xxl-5 > * {
    flex: 0 0 auto;
  }

  .row-cols-xxl-5 > * {
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    width: 16.6666666667%;
  }

  .col-xxl-auto, .row-cols-xxl-6 > * {
    flex: 0 0 auto;
  }

  .col-xxl-auto {
    width: auto;
  }

  .col-xxl-1 {
    width: 8.3333333333%;
  }

  .col-xxl-1, .col-xxl-2 {
    flex: 0 0 auto;
  }

  .col-xxl-2 {
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-3, .col-xxl-4 {
    flex: 0 0 auto;
  }

  .col-xxl-4 {
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    width: 41.6666666667%;
  }

  .col-xxl-5, .col-xxl-6 {
    flex: 0 0 auto;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.3333333333%;
  }

  .col-xxl-7, .col-xxl-8 {
    flex: 0 0 auto;
  }

  .col-xxl-8 {
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-9, .col-xxl-10 {
    flex: 0 0 auto;
  }

  .col-xxl-10 {
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    width: 91.6666666667%;
  }

  .col-xxl-11, .col-xxl-12 {
    flex: 0 0 auto;
  }

  .col-xxl-12 {
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xxl-0, .gx-xxl-0 {
    --bs-gutter-x:0;
  }

  .g-xxl-0, .gy-xxl-0 {
    --bs-gutter-y:0;
  }

  .g-xxl-1, .gx-xxl-1 {
    --bs-gutter-x:0.25rem;
  }

  .g-xxl-1, .gy-xxl-1 {
    --bs-gutter-y:0.25rem;
  }

  .g-xxl-2, .gx-xxl-2 {
    --bs-gutter-x:0.5rem;
  }

  .g-xxl-2, .gy-xxl-2 {
    --bs-gutter-y:0.5rem;
  }

  .g-xxl-3, .gx-xxl-3 {
    --bs-gutter-x:1rem;
  }

  .g-xxl-3, .gy-xxl-3 {
    --bs-gutter-y:1rem;
  }

  .g-xxl-4, .gx-xxl-4 {
    --bs-gutter-x:1.5rem;
  }

  .g-xxl-4, .gy-xxl-4 {
    --bs-gutter-y:1.5rem;
  }

  .g-xxl-5, .gx-xxl-5 {
    --bs-gutter-x:3rem;
  }

  .g-xxl-5, .gy-xxl-5 {
    --bs-gutter-y:3rem;
  }
}/*# sourceMappingURL=style.css.map */