@use "./variables";

.toast-container {
    position: fixed;
    z-index: 999;
    top: 20px;
    right: 20px;

    .toast {
        position: relative;
        width: 100%;
        max-width: 300px;
        min-width: 280px;
        background-color: #fff;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 20px;
        box-shadow: variables.$shadow;
        transition: all 0.3s variables.$transition;
        opacity: 0;
        visibility: hidden;
       


        .toast-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid variables.$dark3;
            font-weight: 500;
            font-size: 1.3rem;
            text-transform: capitalize;
            padding: 0.4rem;
            border-top-left-radius: calc(0.15rem - 1px);
            border-top-right-radius: calc(0.15rem - 1px);
            border-bottom: 1px solid variables.$dark3;

            .toast-title span svg {
                width: 24px;
                height: 24px;
                margin-right: 0.25rem;
            }

            .toast-close {
                background: none;
                border: none;
                opacity: 0.7;
&:hover { opacity:1;}
            }
        }

        .toast-body {
            padding: 0.5rem;
        }

        &.active {
            opacity: 1;
            visibility: visible;
           
        }

        &:not(.active) {
            -webkit-animation-name: slideOutRight;
            animation-name: slideOutRight;
        }
    }
}