
$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;
$font:'Euclid Circular A';
$secondaryFont:'Satoshi variable',
sans-serif;
$primary:#0F4C75;
$secondary:#3282B8;
$light:#BBE1FA;
$dark:#1B262C;
$dark2:#001829;
$dark3:#212930;
$danger: #d70c25;
$danger-hvr: #fe3e63;
$warning: #feb707;
$warning-hvr: #fdc83a;
$success: #01bd62;
$success-hvr: #01bd62dd;
$info:#08a7ea;
$info-hvr: #0052cf;
$textColor:#132F4C;
$LightTextColor:#132F4C;
$hoverBg:#2a2e32;
$white:#fbfbfb;
$black:#262626;
$transparent:#ffffff0d;
$bodyText:#ffffffbf;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
0 2px 8px 0 rgba(0, 0, 0, 0.12);
$shadow2: 0 20px 30px rgba(0, 0, 0, 0.1);
$grey: #9e9e9e;
$transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);

:root {
    --primary: $primary;
    --secondary: $secondary;
    --light: $light;
    --white: $white;
    --dark: $dark;
    --black: $black;
    --text-light: #8a8f98;
    --text-lighter: #757783;
    --random:#{randomNum(15, 99)}px;
}
