@use "../variables";

.G_Collapse {
    overflow-x: hidden;
    @include variables.overFlowY;
    transition: height .5s ease;
    width: 100%;

    &:not(.isOpen) {
        display: none;
        padding: 0 !important;
    }
}