@use "../variables";

.G_Footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.75rem;
    margin-top: 1.25rem;
    background-color: variables.$bodyBg;
    color: variables.$muted;
    border-top: 1px solid variables.$borderColor;
    box-shadow: -1px 20px 20px 5px rgb(0 0 0 / 20%), -12px 20px 20px 20px rgb(0 0 0 / 10%);
    z-index: 2;

    .title {
        font-weight: 600;
        letter-spacing: 2px;
        margin-inline: 0.5rem;
    }

    &.Center {
        justify-content: center;
        text-align: center;
    }

    &.Start {
        justify-content: flex-start;
        text-align: left;
    }

    &.End {
        justify-content: flex-end;
        text-align: right;
    }

    @media screen and (max-width: variables.$sm) {
        padding: 0.5rem;
        font-size: 12px;

    }

}