<!DOCTYPE html>
<html>
<head>
<title>Meta Tag Generator by K K UPGRADER</title>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<link href='/assets/fonts/Roboto.css' rel='stylesheet'/>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
<link href='/assets/css/default.min.css' rel='stylesheet'/>
<link href='/main.css' rel='stylesheet'/>
<link href='/assets/css/sidenav.css' rel='stylesheet'/>
<script async='async' defer='defer' src='/assets/js/jquery/3.6.0/jquery.min.js'></script>

</head>
<body>
<header>
<div class='sidenav' id='sidenavify' role='navigation'>
<a class='ripple fixed-top d-flex justify-content-center py-3 ripple-surface ripple-surface-primary' data-ripple-color='danger' href='#!'>
<img alt='MDB Logo' draggable='false' height='25' id='MDB-logo' src='https://1.bp.blogspot.com/-0izkSbairI4/YAQtXH1dFKI/AAAAAAAAB00/XVqJLzpS4UUi-bsnYY1Eunz8_1Q5bvs9wCLcBGAsYHQ/s150/k_k_upgrader.webp'/>
</a>
<hr/>
<ul class='sidenav-menu overflow-auto section' id='sidenav'>

<h6 class='text-muted text-uppercase pl-4'>
Pages Link</h6>
<li class='sidenav-item'>
<a aria-expanded='false' class='sidenav-link ripple sidenav-btn' data-mdb-ripple-color='primary' href='javascript:;' role='button'>
<i class='fas fa-link fa-fw '></i>
Useful Links
</a>
<ul class='sidenav-collapse '>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/contact-us.html'><i class='fas fa-hashtag me-2'></i>Contact Us
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/cookies-policy_26.html'><i class='fas fa-hashtag me-2'></i>Cookies Policy
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/privacy-policy_26.html'><i class='fas fa-hashtag me-2'></i>Privacy Policy
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/sitemap.html'><i class='fas fa-hashtag me-2'></i>Sitemap
</a>
</li>
</ul>
</li>
<li class='sidenav-item'>
<a aria-expanded='false' class='sidenav-link ripple sidenav-btn' data-mdb-ripple-color='primary' href='javascript:;' role='button'>
<i class='fas fa-link fa-fw '></i>
Useful Links
</a>
<ul class='sidenav-collapse '>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/contact-us.html'><i class='fas fa-hashtag me-2'></i>Contact Us
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/cookies-policy_26.html'><i class='fas fa-hashtag me-2'></i>Cookies Policy
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/privacy-policy_26.html'><i class='fas fa-hashtag me-2'></i>Privacy Policy
</a>
</li>
<li class='sidenav-item'>
<a class='sidenav-link linkUnderline' href='/p/sitemap.html'><i class='fas fa-hashtag me-2'></i>Sitemap
</a>
</li>
</ul>
</li>


</ul>
</div></div>
</div>
<!-- Sidenav -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
<button id="sidenav-toggler"  type="button" class="btn shadow-0 p-0 me-1"><i class="fas fa-bars fa-lg"></i></button>

    <a class="navbar-brand" href="/">K K UPGRADER.<small class="text-success">eu.org</small></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </div>
    </div>
  </div>
</nav>
</nav>
</header>
<main class='w-100 position-relative' id='hero' style='margin-top:58px'>
<div class='container-fluid  '>
<!-- Section: Intro -->
<section class='m-auto pt-5'>
<div class='row h-100 justify-content-center align-items-center text-center text-white' itemprop='mainEntity' itemscope='itemscope' itemtype='http://schema.org/WebSite'>
<h3 class='text-white'>Get Awesome Web Tools , Tips and Tricks <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type='text/javascript'>var creditsyear = new Date();  document.write(creditsyear.getFullYear()); </script>
</h3>
<p>Some are Right Below Here.</p>

</div>
</section>
</div>
<svg class='wave ' height='50px' preserveAspectRatio='none' viewBox='0 0 1920 75' width='100%' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><clipPath id='adacinta1'><rect class='a' height='75' width='1920'></rect></clipPath></defs><g class='b'><path class='c' d='M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48'></path></g><g class='b'><path class='d' d='M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10'></path></g><g class='b'><path class='d' d='M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24'></path></g><g class='b'><path class='d' d='M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150'></path></g></svg>
<div class='bubbles'>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
<div class='bubble'></div>
</div>
</main>
<div class="container">

 <div class="card w-100">
  <div class="card-header">
   <!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="app-control" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="primitive"
      data-mdb-toggle="pill"
      href="#primitive-tab"
      role="tab"
      aria-controls="primitive-tab"
      aria-selected="true"
      >Primitive Version</a>
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="modern"
      data-mdb-toggle="pill"
      href="#modern-tab"
      role="tab"
      aria-controls="modern-tab"
      aria-selected="false" >Modern Version</a>
  </li>
 
</ul>


   </div>
   <div class="card-body">
    

<div class="tab-content" id="app">
  <div
    class="tab-pane fade show active"
    id="primitive-tab"
    role="tabpanel"
    aria-labelledby="primitive"
  >
    <form class="" method="post" name="primitive">
  
  <br />

  <p class="note note-info">
    Free SEO Meta tags are HTML tag content that provide metadata about your
    website such as description.
  </p>
  <br />
  <p class="note note-info">
    Meta tags are used by search engines to help index and to provide relevant
    content in their Google search results worldwide.
  </p>
  <br /><br />
  <div class="container">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="title">Title:</span>

      <input
        type="text"
        class="form-control"
        name="input1"
        placeholder="Title"
        aria-label="Title"
        aria-describedby="title"
      />
    </div>
    <br />
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="author">Author:</span>

      <input
        type="text"
        class="form-control"
        name="input2"
        placeholder="Author"
        aria-label="Author"
        aria-describedby="author"
      />
    </div>
    <br />
    <div class="input-group flex-nowrap">
      <span class="input-group-text input-group-lg" id="description"
        >Description:</span
      >

      <input
        type="text"
        class="form-control"
        name="input4"
        placeholder="Description"
        aria-label="Description"
        aria-describedby="description"
      />
    </div>
    <br />
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="keywords">Keywords:</span>

      <input
        type="text"
        class="form-control"
        name="input5"
        placeholder="Keywords"
        aria-label="Keywords"
        aria-describedby="keywords"
      />
    </div>
    <br />
    <div class="m-auto text-center">
      <select
        class="form-control float-start w-50 form-select"
        name="input14"
        required=""
      >
        <option disabled="" selected="">Select Distribution..</option>
        <option value="Global">Global</option>
        <option value="Local">Local</option>
        <option value="IU">Intern Use</option>
      </select>

      <select
        class="form-control float-start w-50 form-select"
        name="input15"
        required=""
      >
        <option selected="" disabled="">Select Robots..</option>
        <option value="All">All</option>
        <option value="None">None</option>
        <option value="No Index">No Index</option>
        <option value="Follow">Follow</option>
        <option value="No Follow">No Follow</option>
      </select>
    </div>
    <br />

    <div class="m-4 row justify-content-center">
      <div class="col-4">
        <button
          class="btn btn-outline-success"
          onclick="create(this.form)"
          type="button"
          value="Create META tags"
        >
          Generate
        </button>
      </div>
      <div class="col-4">
        <button class="btn btn-outline-danger" type="reset" value="Clear All">
          Reset <i class="fas fa-trash"></i>
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-success" id="copyit">
          Copy <i class="far fa-clone"></i>
        </button>
      </div>
    </div>
  </div>
  <br />

  <p class="note container note-info">
    <strong>Instructions:</strong> Simply copy the following lines of code and
    insert them between the <b class="mark">&lt;head&gt;</b> and
    <b class="mark">&lt;/head&gt; </b>tags in your HTML Document.
  </p>
  <br />
  <div class="input-group container-sm">
    <textarea
      class="form-control w-100"
      id="output"
      name="story"
      rows="6"
     ></textarea>
  </div>

  <script
    crossorigin="anonymous"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  ></script>
  <script
    crossorigin="anonymous"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  ></script>
</form>

  </div>
  <div
    class="tab-pane fade"
    id="modern-tab"
    role="tabpanel"
    aria-labelledby="modern"
  >
    <div id="app2">
  <section id="section-introduction" class="mb-5 mt-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <p class="mb-2">
          <strong
            >Fill in the forms with your data. Then scroll down and copy the
            generated code. Next, paste at the top of the
            <code>&lt;HEAD&gt;</code> section of your page.</strong
          >
        </p>
        <p class="mb-2">
          <strong>Note:</strong> The forms are filled up with the dummy data to
          present you the proper way of how to to this.
        </p>

        <button type="button" class="btn btn-primary" v-on:click="clearData">
          clear data
        </button>
      </div>
    </div>
  </section>
  <!-- Section: Introduction -->

  <!-- Section: Google -->
  <section id="section-google" class="">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 mb-4 mb-md-0">
        <p class="">
          <strong>Google search results:</strong>
        </p>

        <!-- Section: Preview -->
        <section class="border bg-white p-4 mb-4">
          <div id="google-preview">
            <p class="page-breadcrumbs">mdbootstrap.com > docs > standard</p>
            <a target="_blank" href="https://mdbootstrap.com/docs/standard/"
              ><h5 class="page-title">{{ google.pageTitle }}</h5></a
            >
            <p class="page-description mb-0">{{ google.pageDescription }}</p>
          </div>
        </section>
        <!-- Section: Preview -->
      </div>

      <div class="col-md-5 mb-4 mb-md-0">
        <!-- Section: Controls -->
        <section class="">
          <div class="card mb-4">
            <div class="card-header py-3 mb-2">
              <strong>Google</strong>
            </div>
            <div class="card-body">
              <!-- Page title -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formPageTitleGoogle"
                  class="form-control"
                  maxlength="60"
                  v-model="google.pageTitle"
                />
                <label class="form-label" for="formPageTitleGoogle"
                  >Page title</label
                >
              </div>
              <div class="form-text mb-3">60 characters maximum</div>

              <!-- Page description -->
              <div class="form-outline">
                <textarea
                  class="form-control"
                  id="formpageDescriptionGoogle"
                  v-model="google.pageDescription"
                  rows="4"
                  maxlength="160"
                ></textarea>
                <label class="form-label" for="formpageDescriptionGoogle"
                  >Page description</label
                >
              </div>
              <div class="form-text mb-3">160 characters maximum</div>

              <!-- Site image -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formSiteImageGoogle"
                  class="form-control"
                  v-model="google.siteImage"
                />
                <label class="form-label" for="formSiteImageGoogle"
                  >Site image</label
                >
              </div>
              <div class="form-text">
                Valid URL address of the .jpg or .png image
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Controls -->
      </div>
    </div>
  </section>
  <!-- Section: Google -->

  <!-- Section: Open Graph -->
  <section id="section-open-graph" class="">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 mb-4 mb-md-0">
        <p class="">
          <strong
            >Open graph
            <small class="text-muted">(Facebook, Pinterest, LinkedIn)</small
            >:</strong
          >
        </p>

        <!-- Section: Preview -->
        <section class="mb-4">
          <div id="open-graph-preview" class="border rounded">
            <div
              id="og-image-wrapper"
              class="bg-image rounded-top"
              :style="{ backgroundImage: 'url(' + OG.previewImage + ')' }"
            ></div>
            <div id="og-data-wrapper">
              <p class="og-link text-truncate">{{OG.URL}}</p>
              <p class="og-title text-truncate">{{OG.pageTitle}}</p>
              <p class="og-description text-truncate">{{OG.pageDescription}}</p>
            </div>
          </div>
        </section>
        <!-- Section: Preview -->
      </div>

      <div class="col-md-5 mb-4 mb-md-0">
        <!-- Section: Controls -->
        <section class="">
          <div class="card mb-4">
            <div class="card-header py-3 mb-2">
              <strong
                >Open graph
                <small class="text-muted"
                  >(Facebook, Pinterest, LinkedIn)</small
                ></strong
              >
            </div>
            <div class="card-body">
              <!-- Page title -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formPageTitleOG"
                  class="form-control"
                  maxlength="60"
                  v-model="OG.pageTitle"
                />
                <label class="form-label" for="formPageTitleOG"
                  >Page title</label
                >
              </div>
              <div class="form-text mb-3">60 characters maximum</div>

              <!-- Page description -->
              <div class="form-outline">
                <textarea
                  class="form-control"
                  id="formpageDescriptionOG"
                  v-model="OG.pageDescription"
                  rows="2"
                  maxlength="68"
                ></textarea>
                <label class="form-label" for="formpageDescriptionOG"
                  >Page description</label
                >
              </div>
              <div class="form-text mb-3">68 characters maximum</div>

              <!-- Preview image -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formPreviewImageOG"
                  class="form-control"
                  v-model="OG.previewImage"
                />
                <label class="form-label" for="formPreviewImageOG"
                  >Preview image</label
                >
              </div>
              <div class="form-text mb-3">1200x628 px recommended</div>

              <!-- URL -->
              <div class="form-outline mb-3">
                <input
                  type="text"
                  id="formURLOG"
                  class="form-control"
                  v-model="OG.URL"
                />
                <label class="form-label" for="formURLOG">URL</label>
              </div>

              <!-- Site name -->
              <div class="form-outline mb-3">
                <input
                  type="text"
                  id="formSiteNameOG"
                  class="form-control"
                  v-model="OG.siteName"
                />
                <label class="form-label" for="formSiteNameOG">Site name</label>
              </div>

              <!-- Locale -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formLocaleOG"
                  class="form-control"
                  v-model="OG.locale"
                />
                <label class="form-label" for="formLocaleOG">Locale</label>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Controls -->
      </div>
    </div>
  </section>
  <!-- Section: Open Graph -->

  <!-- Section: Twitter -->
  <section id="section-twitter" class="mb-5">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 mb-4 mb-md-0">
        <p class="">
          <strong>Twitter:</strong>
        </p>

        <!-- Section: Preview -->
        <section class="">
          <div id="twitter-preview" class="border rounded">
            <div
              id="twitter-image-wrapper"
              :style="{ backgroundImage: 'url(' + twitter.previewImage + ')' }"
              class="bg-image rounded-top"
            ></div>
            <div id="twitter-data-wrapper">
              <p class="twitter-title text-truncate">{{twitter.pageTitle}}</p>
              <p class="twitter-description">{{ twitter.pageDescription }}</p>
            </div>
          </div>
        </section>
        <!-- Section: Preview -->
      </div>

      <div class="col-md-5 mb-4 mb-md-0">
        <!-- Section: Controls -->
        <section class="">
          <div class="card">
            <div class="card-header py-3 mb-2">
              <strong>Twitter</strong>
            </div>
            <div class="card-body">
              <!-- Page title -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formPageTitleTwitter"
                  class="form-control"
                  maxlength="60"
                  v-model="twitter.pageTitle"
                />
                <label class="form-label" for="formPageTitleTwitter"
                  >Page title</label
                >
              </div>
              <div class="form-text mb-3">60 characters maximum</div>

              <!-- Page description -->
              <div class="form-outline">
                <textarea
                  class="form-control"
                  id="formpageDescriptionTwitter"
                  v-model="twitter.pageDescription"
                  rows="4"
                  maxlength="120"
                ></textarea>
                <label class="form-label" for="formpageDescriptionTwitter"
                  >Page description</label
                >
              </div>
              <div class="form-text mb-3">120 characters maximum</div>

              <!-- Site image -->
              <div class="form-outline">
                <input
                  type="text"
                  id="formSiteImageTwitter"
                  class="form-control"
                  v-model="twitter.previewImage"
                />
                <label class="form-label" for="formSiteImageTwitter"
                  >Site image</label
                >
              </div>
              <div class="form-text mb-3">Valid URL address of the image</div>
            </div>
          </div>
        </section>
        <!-- Section: Controls -->
      </div>
    </div>
  </section>

  <!-- Section:  Generated code-->
  <section id="section-generated-code" ref="code" class="mb-5">
    <p class="text-center">
      <strong
        >Copy and paste this generated code at the top of the
        <code>&lt;HEAD&gt;</code> section of your page</strong
      >
    </p>

    <!-- prettier-ignore -->
    <!-- mdbsnippet -->

    <div class="docs-pills">
      <div
        class="d-flex d-none justify-content-between py-2"
        style="padding-left: .6rem;"
      >
        <ul class="nav nav-pills p-2">
          <li class="nav-item">
            <a
              class="nav-link active show"
              data-mdb-toggle="tab"
              href="#mdb_eb4b87f2370ea5c187a0bb52478d4421e245727a"
              role="tab"
              >HTML</a
            >
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div
          class="tab-pane fade active show"
          id="mdb_eb4b87f2370ea5c187a0bb52478d4421e245727a"
          role="tabpanel"
        >
          <pre class="grey lighten-3 line-numbers language-html"><code>
            
          &lt;!-- COMMON TAGS --&gt;
          &lt;meta charset=&#34;utf-8&#34;&gt;
          &lt;title&gt;Bootstrap 5 &amp; Material Design 2.0&lt;/title&gt;
          &lt;!-- Search Engine --&gt;
          &lt;meta name=&#34;description&#34; content=&#34;Material Design for Bootstrap 5. 500&#43; components, free templates, 1-min installation, extensive tutorial, huge community.&#34;&gt;
          &lt;meta name=&#34;image&#34; content=&#34;https://mdbgo.io/ascensus/mdb-advanced/img/mdb.jpg&#34;&gt;
          &lt;!-- Schema.org for Google --&gt;
          &lt;meta itemprop=&#34;name&#34; content=&#34;Bootstrap 5 &amp; Material Design 2.0&#34;&gt;
          &lt;meta itemprop=&#34;description&#34; content=&#34;Material Design for Bootstrap 5. 500&#43; components, free templates, 1-min installation, extensive tutorial, huge community.&#34;&gt;
          &lt;meta itemprop=&#34;image&#34; content=&#34;https://mdbgo.io/ascensus/mdb-advanced/img/mdb.jpg&#34;&gt;
          &lt;!-- Open Graph general (Facebook, Pinterest &amp; Google&#43;) --&gt;
          &lt;meta property=&#34;og:title&#34; content=&#34;Bootstrap 5 &amp; Material Design 2.0&#34;&gt;
          &lt;meta property=&#34;og:description&#34; content=&#34;Material Design for Bootstrap 5. 500&#43; components, free templates, 1-min installation, extensive tutorial, huge community.&#34;&gt;
          &lt;meta property=&#34;og:image&#34; content=&#34;https://mdbgo.io/ascensus/mdb-advanced/img/mdb.jpg&#34;&gt;
          &lt;meta property=&#34;og:url&#34; content=&#34;https://mdbootstrap.com/&#34;&gt;
          &lt;meta property=&#34;og:site_name&#34; content=&#34;Material Design for Bootstrap&#34;&gt;
          &lt;meta property=&#34;og:locale&#34; content=&#34;en_US&#34;&gt;
          &lt;meta property=&#34;og:type&#34; content=&#34;website&#34;&gt;
          &lt;!-- Twitter --&gt;
          &lt;meta property=&#34;twitter:card&#34; content=&#34;summary&#34;&gt;
          &lt;meta property=&#34;twitter:title&#34; content=&#34;Bootstrap 5 &amp; Material Design 2.0&#34;&gt;
          &lt;meta property=&#34;twitter:description&#34; content=&#34;Material Design for Bootstrap 5. 500&#43; components, free templates, 1-min installation, extensive tutorial, huge community.&#34;&gt;
          &lt;meta property=&#34;twitter:image:src&#34; content=&#34;https://mdbgo.io/ascensus/mdb-advanced/img/mdb.jpg&#34;&gt;
        
        </code></pre>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Generated code -->

  <!-- Section: Validation -->
  <section id="section-validation" class="text-center mb-5">
    <p><strong>Validate your meta tags with the following tools</strong></p>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <a
          class="btn btn-primary btn-block"
          style="background-color: #3b5998"
          rel="nofollow"
          target="_blank"
          href="https://developers.facebook.com/tools/debug/"
          role="button"
          ><i class="fab fa-facebook-f me-2"></i>Facebook</a
        >
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <a
          class="btn btn-primary btn-block"
          style="background-color: #55acee"
          rel="nofollow"
          target="_blank"
          href="https://cards-dev.twitter.com/validator"
          role="button"
          ><i class="fab fa-twitter me-2"></i>Twitter</a
        >
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <a
          class="btn btn-primary btn-block"
          style="background-color: #c61118"
          rel="nofollow"
          target="_blank"
          href="https://developers.pinterest.com/tools/url-debugger/"
          role="button"
          ><i class="fab fa-pinterest me-2"></i>Pinterest</a
        >
      </div>
    </div>
  </section>
  <!-- Section: Validation -->
</div>
<!-- Section: Content -->
<!--/.Main column-->
<!-- Right Sidebar -->
<div class="col-lg-2 d-none d-lg-block">
  <div id="scrollspy" class="sticky-top" style="top: 80px;">
    <style>
      .dc-content-animation {
       height: 20px;
       width: 50%;
       display: inline-block;
       animation: placeholderPulse 1s infinite ease-in-out;
       -webkit-animation: placeholderPulse 1s infinite ease-in-out;
       }
       @keyframes  placeholderPulse {
         0%{
          background-color: rgba(133, 214, 251, .1);
          color: rgba(133, 214, 251, .1);
          }
        50%{
            background-color: rgba(133, 214, 251, .3);
            color: rgba(133, 214, 251, .3);
          }
        100%{
          background-color: rgba(133, 214, 251, .1);
          color: rgba(133, 214, 251, .1);
          }}
    </style>
    <!--DC content-->
    <div
      class="position-relative d-none d-xl-block"
      id="dpl-gtm-scroll"
      style="min-height:250px;margin-bottom: 1rem;"
    >
      <div class="position-absolute w-100 justify-content-center">
        <div
          class="border border-info shadow-3 rounded overflow-hidden"
          style="border-color: rgba(133, 214, 251, .3) !important;"
        >
          <span
            class="dc-content-animation mx-2 mb-2 mt-3"
            style="width: 40%;"
          ></span>
          <span
            class="dc-content-animation mx-2 mb-1"
            style="width: 70%;"
          ></span>
          <span class="dc-content-animation mx-2 mb-1"></span>
          <span
            class="dc-content-animation mx-2 mb-1"
            style="width: 80%;"
          ></span>
          <span
            class="dc-content-animation mx-2 mb-1"
            style="width: 70%;"
          ></span>
          <span
            class="dc-content-animation mx-2 mb-1"
            style="width: 80%;"
          ></span>
          <span
            class="dc-content-animation mx-2 mb-1"
            style="width: 85%;"
          ></span>
        </div>
      </div>
    </div>
    <!--/DC content-->
    <ul
      class="nav flex-column nav-pills menu-sidebar"
      data-mdb-allow-hashes="true"
    >
      <li class="nav-item">
        <a class="nav-link active" href="#section-introduction">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-google">Google</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-open-graph"
          >Open Graph (Facebook, Pinterest, LinkedIn)</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-twitter">Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-generated-code">Generated code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section-validation">Validation</a>
      </li>
    </ul>
  </div>
</div>
<!--/. Right Sidebar -->
<!-- /.Main layout-->
<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-html.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify.js"></script>

  </div>
  
</div>

</div>
</div>
</div>
</div>
  
  <div class=' mb-n3 pt-4 text-center text-white trans-bg'>
<!-- Grid container -->
<div class='container-fluid '>

<!-- Section: Social media -->
<section class='text-center '>
<div id='subscribe'>
<div class='wrapper'>
<h3 class='text-white h2'>Follow Us on Social Media</h3>
<p class='mb-3'>Subscribe to get updated when new templates arrive!</p>
<div class='subscribe-box'>

</div>
<div class='d-flex justify-content-center pt-3 '>
<a class=' me-4 text-white' href='https://t.me/kkupgrader' target='_blank'><i class='fab fa-telegram-plane fa-lg'></i></a>
<a class=' text-white me-4' href='https://Facebook.com/FsBlogger' role='button' target='_blank'><i class='fab fa-facebook-f fa-lg'></i></a>
<a class=' text-white me-4' href='https://Pinterest.com/kkupgrader' role='button' target='_blank'><i class='fab fa-pinterest fa-lg'></i></a>
<a class=' text-white me-4' href='https://codepen.io/kkupgrader' target='_blank'><i class='fab fa-codepen fa-lg'></i></a>
<a class=' text-white me-4' href='https://instagram.com/kk.upgrader' role='button' target='_blank'><i class='fab fa-instagram fa-lg'></i></a>
</div>
</div>
</div>
</section>
<section class='row mt-4 pb-4'>
<div class='col-sm-3 mb-4 mb-md-0 section' id='logo'><div class='widget Image' data-version='2' id='Image1'>

<h5 class='text-uppercase text-white text-center mb-4'>
K K UPGRADER
</h5>
<p class=' mb-2 text-center text-white'>
Find a perfect template with SEO Optimized and improve your blog right now.
</p>
</div></div>
<div class='col-sm-3 mb-4 mb-md-0 text-start section' id='Footer Links 1'><div class='widget LinkList' data-version='2' id='LinkList001'>
<h5 class='text-uppercase  text-white mb-4'>Popular Themes</h5>
<hr/>
<ul class='list-unstyled'>
<li class='mb-2'>
<a class='text-white' href='https://www.fs-themes.eu.org/2020/12/bootslinks-bootstrap-safelink-blogger.html'>
<i class='fas fa-arrow-right pe-3'></i>BootsLinks
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://www.fs-themes.eu.org/2021/09/genesis-links-safelink-with-password.html'>
<i class='fas fa-arrow-right pe-3'></i>Genesis Links
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://www.fs-themes.eu.org/2020/12/ideal-links-blogger-template.html'>
<i class='fas fa-arrow-right pe-3'></i>Ideal Links
</a>
</li>
</ul>
</div></div>
<div class='col-sm-3 mb-4 mb-md-0 text-start section' id='Footer Links 2'><div class='widget LinkList' data-version='2' id='LinkList002'>
<h5 class='text-uppercase text-white mb-4'>Useful Links</h5>
<hr/>
<ul class='list-unstyled'>
<li class='mb-2'>
<a class='text-white' href='https://'>
<i class='fas fa-arrow-right pe-3'></i>Become an Affiliate
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://'>
<i class='fas fa-arrow-right pe-3'></i>Documentation
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://'>
<i class='fas fa-arrow-right pe-3'></i>Help
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://'>
<i class='fas fa-arrow-right pe-3'></i>Shipping Rates
</a>
</li>
</ul>
</div></div>
<div class='col-sm-3 mb-4 mb-md-0 text-start section' id='Footer Links 3'><div class='widget LinkList' data-version='2' id='LinkList003'>
<h5 class='text-uppercase text-white mb-4'>Contact</h5>
<hr/>
<ul class='list-unstyled'>
<li class='mb-2'>
<a class='text-white' href='mailto:kkupgrader.fs@gmail.com'>
<i class="fas fa-at me-1"></i>kkupgrader.fs@gmail.com
</a>
</li>
<li class='mb-2'>
<a class='text-white' href='https://instagram.com/kanakkholwal'>
<i class="fab fa-instagram me-1"></i> kanakkholwal
</a>
</li>

</ul>
</div></div>
</section>
</div>
</div>
<footer class='bg-light text-center text-lg-start'>
<!-- Copyright -->
<div class='text-center text-white  bg-dark p-3'>

   Copyright &#169; <script type='text/javascript'>document.write(new Date().getFullYear());</script>
<a href='/' title='K K UPGRADER'><span title='K K UPGRADER'>K K UPGRADER</span></a> - All Right Reserved
  </div>
<!-- Copyright -->
</footer>
 



<script async='async' defer='defer' src='/assets/tools/meta-tag-generator/modern.js' type='text/javascript'></script>
<script async='async' defer='defer' src='/assets/tools/meta-tag-generator/primitive.js' type='text/javascript'></script>
<script async='async' defer='defer' type='text/javascript' src="https://cdn.jsdelivr.net/gh/KKUPGRADER/blogger@js/copy-code-box.min.js"></script> 
<!-- Scripts -->
<script async='async' defer='defer' src='/assets/js/sidenav.min.js' type='text/javascript'></script>
<script async='async' defer='defer' src='/assets/js/default.min.js' type='text/javascript'></script>
</body>
</html>

