@use "variables";

@mixin FormInput {
  letter-spacing: 0.1em;
  width: 100%;
  opacity: 0.95;
  margin-bottom: 1.5rem;
  font-weight: 600;
  
  transition: all .2s linear;
  border-radius: 0.25rem;
  padding: calc(0.75rem + 1px) calc(0.5rem + 1px);
  border: 1px solid variables.$FormBorder;
  background: variables.$FormBg;
  color: variables.$FormText;
  caret-color: variables.$secondary;

  &::placeholder {
    color: variables.$FormPlaceholder;
    opacity: 0.75;

  }


  &:focus {
    padding: 0.75rem 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: variables.$FormActive;
    opacity: 1;

    &::placeholder {
      color: variables.$FormPlaceholder;
      opacity: 1;
    }
  }

  &:invalid,
  &.isInvalid {
    border-color: variables.$danger-hvr !important;
    animation-name: invalid;
    animation-timing-function: variables.$transition;
    animation-duration: 500ms;
    animation-fill-mode: both;

  }

  &:focus:not(:placeholder-shown):valid,
  &.isValid {
    animation-name: valid;
    border-color: variables.$success-hvr !important;
    animation-timing-function: variables.$transition;
    animation-duration: 500ms;
    animation-fill-mode: both;
  }

}


@mixin UnderLinedLabel {

  border: 0;
  border-radius: 0;
  z-index: 1;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid variables.$FormBorder;
  font: inherit;
  font-size: 1.125rem;
  padding: .25rem 0;

  &::placeholder {
    visibility: hidden;
    transition: all 0.25 ease;
  }

  &:focus {
    border-bottom-color: variables.$FormActive;

    &::placeholder {
      visibility: visible;
    }

    &~.G_Form-label {
      z-index: 2;
      color:  variables.$FormActive;
      transform: translateY(-1.5rem);
    }
  }


}

@mixin FloatingLabel {

  z-index: 1;
  background-color: transparent;
  border: none;
  border: 2px solid variables.$FormBorder;
  font: inherit;
  font-size: 1.125rem;

  &::placeholder {
    visibility: hidden;
    transition: all 0.25 ease;
  }

  &:focus {
    border-color: variables.$FormActive;

    &::placeholder {
      visibility: visible;
    }

    &~.G_Form-label {
      z-index: 2;

      color:  variables.$FormActive;
      transform: translateY(-0.75rem);
    }
  }


}

@mixin PrimaryTextColor {
  background: linear-gradient(to right, #3282B8, #0059B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}

.G_Form-element {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.25rem auto;
  width: calc(100% - 2rem);

  .G_Form-label {
    order: 1;

  }

  .G_Form-input,
  .G_Form-textarea,
  .G_Form-color-label,
  .G_Form-range-label {
    order: 2;
    width: calc(100% - 2rem);

  }



  .G_Form-select,
  .select-wrapper {
    order: 2;
    width: calc(100% - 2rem);

  }

  .G_Form-helper {
    order: 3;
    margin-left: 0.25rem;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
  }

  &.Form_Underlined {
    position: relative;

    .G_Form-label {
      position: absolute;
      top: 1%;
      transition: .25s ease;
      z-index: 0;
    }

    .G_Form-input,
    .G_Form-textarea {
      @include UnderLinedLabel;
    }
  }

  &.Form_Floating {
    position: relative;

    .G_Form-label {
      position: absolute;
      top: 0;
      left: 0.25rem;
      z-index: 0;
      background-color: variables.$FormBg;
      transform: translateY(0.75rem);
      padding-inline:0.5rem;
      transition: .25s ease;
    }

    .G_Form-input,
    .G_Form-textarea {
      @include FloatingLabel;
    }
  }
}

.G_Form-input {
  @include FormInput;
}

.G_Form-textarea {
  height: auto;
  overflow: hidden;
  resize: none;
  @include variables.overFlowY;
  @include FormInput;
}

.G_Form-label {
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
  color: variables.$FormLabel;
  opacity: 0.8;
}


.G_Form-checkbox {
  width: 1em;
  height: 1em;
  margin-top: .3em;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, .25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  border-radius: .25em;

  // Pseudo Elements
  &::before {
    content: "";
    position: absolute;
    box-shadow: 0 0 0 13px transparent;
    border-radius: 50%;
    width: .875rem;
    height: .875rem;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transform: scale(0)
  }

  // States
  &:active {
    filter: brightness(90%)
  }

  &:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .25);
    transition: border-color .2s;

    &::before {
      opacity: .12;
      box-shadow: 0 0 0 13px rgba(0, 0, 0, .6);
      transform: scale(1);
      transition: box-shadow .2s, transform .2s
    }

    &::after {
      content: "";
      position: absolute;
      width: .875rem;
      height: .875rem;
      z-index: 1;
      display: block;
      border-radius: 0;
      background-color: #fff
    }
  }

  &:hover {
    cursor: pointer;

    &:before {
      opacity: .04;
      box-shadow: 0 0 0 13px rgba(0, 0, 0, .6)
    }

  }

  &:checked {
    background-color: #1266f1;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6'/%3E%3C/svg%3E");
    border-color: #1266f1;

    &:before {
      opacity: .16
    }

    &:after {
      display: block;
      transform: rotate(45deg);
      width: .375rem;
      height: .8125rem;
      border: .125rem solid #fff;
      border-top: 0;
      border-left: 0;
      margin-left: .25rem;
      margin-top: -1px;
      background-color: transparent
    }

    &:focus {
      background-color: #1266f1
    }

    &:focus:before {
      box-shadow: 0 0 0 13px #1266f1;
      transform: scale(1);
      transition: box-shadow .2s, transform .2s
    }

    border-color: #1266f1
  }

  &:indeterminate {
    background-color: variables.$secondary;
    border-color: #757575;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3E%3C/svg%3E");

    &:focus:before {
      box-shadow: 0 0 0 13px #1266f1
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
  }
}

.G_Form-color-label {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid variables.$dark2;
  background-color: variables.$transparent;

  &:is(:active, :focus) {
    border-color: variables.$primary;
  }

  span {
    user-select: none;
    // pointer-events: none;
    cursor: pointer;
  }
}

.G_Form-color[type='color'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;

  &::-webkit-color-swatch-wrapper {
    padding: 0;


  }

  &::-webkit-color-swatch {
    border: none;

  }
}

.G_Form-submit {
  display: inline-flex;
  color: #fff;
  // background: variables.$transparent;
  background: #1d5eff;
  font-weight: 700;
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 5px 0 #00000033, 0 2px 10px 0 #0000001a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
  border: 0;
  padding: .625rem 1.5rem .5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: 12rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;

  opacity: .9;

  &:hover,
  &.active {
    opacity: 1;
    background: #1d5eff;
    color: white;
    transform: translateY(-0.1rem);
  }
}

.G_Form-range-label {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 2rem);
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  background-color: variables.$transparent;


  .G_Form-range[type="range"] {
    flex: 1 1 auto;
    order: 1;
    width: 100%;
    height: 0.25rem;
    padding: 0;
    border-radius: 0.25rem;
    background-color: variables.$transparent;
    appearance: none;
    -webkit-appearance: none;

    border: none;
    outline: none;
    // overflow: hidden;

    // &::-webkit-slider-runnable-track {
    //   background: variables.$grey;
    // }

    &::-webkit-slider-thumb {
      cursor: pointer;
      --webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: variables.$light;
      border: 2px solid variables.$primary;
      border-radius: 50%;

      &:hover {
        background: variables.$primary
      }
    }

    // &:in-range {
    //   background-color: $primary;
    // }

  }

  span {
    flex: 1 1 auto;
    order: 2;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    @include PrimaryTextColor;
    height: 40px;
    min-width: 60px;
    overflow: hidden;
    margin-left: 10px;


    padding: 0.25rem 0.5rem;
  }
}




.G_Form-select {
  appearance: none;
  @include inline-flex;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: 0.65rem;
  width: 100%;
  font-weight: 700;
  background: variables.$transparent;
  box-shadow: variables.$shadow;
  color: #247e8de6;
  border: 2px solid variables.$dark3;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  cursor: pointer;

  &:focus {
    border-color: variables.$primary;
  }



}

.select-initialized {
  display: none;
}

.select-wrapper {
  position: relative;

  svg {
    position: absolute;
    height: 20px;
    top: 50%;
    right: 0.65rem;
    transform: translateY(-50%);
    fill: #7a9fb76e;
  }

  .select-placeholder {
    // position: absolute;
    // inset: 0;
    border-radius: 0.25rem;
    padding: 0.65rem;
    width: 100%;
    font-weight: 700;
    background: variables.$transparent;
    box-shadow: variables.$shadow;
    color: #247e8de6;
    border: 2px solid variables.$dark3;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    user-select: none;
    font-weight: bold;

    // position: relative;
    &:is(:focus, :focus-visible, :active, .active) {
      border-color: variables.$primary;

      &~svg {
        fill: variables.$primary;
      }
    }

    // &::after {
    //   content: "▼";
    //     }
  }

  .select-dropdown {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    z-index: 100;
    width: 100%;
    min-width: 100px;
    margin: 0;
    border-radius: 0.25rem;
    outline: 0;

    background-color: variables.$grey;
    box-shadow: variables.$shadow;
    transition: all .2s;
    transform: scaleY(.8);
    opacity: 0;
    visibility: hidden;
    box-shadow: variables.$shadow;

    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 0.5rem;
      background-color: variables.$secondary;
      cursor: pointer !important
    }

    &::-webkit-scrollbar:hover {
      background-color: variables.$secondary
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      box-shadow: inset 0 0 0 24px rgba(0, 0, 0, .15);
      border-radius: 24px
    }

    &::-webkit-scrollbar-thumb:active {
      box-shadow: inset 0 0 0 24px rgba(0, 0, 0, .30);
      border-radius: 24px
    }



    &.show {

      transform: scaleY(1);
      opacity: 1;
      visibility: visible;

    }

    ul {
      background-color: inherit;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: inherit;



      li.select-drop-item {
        background: variables.$secondary;
        padding: 0.25rem 1rem;
        color: variables.$light;
        cursor: pointer;
        height: 2.375rem;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 1rem;
        font-weight: 400;
        border: 0;
        outline: 0;
        user-select: none;

        &:is(:hover, :active, .active) {
          background-color: variables.$primary;
        }

        &:first-child {
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
        }

        &:last-child {
          border-bottom-left-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }
}

@keyframes invalid {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes valid {
  0% {
    box-shadow: 0 0 0 0 rgba(variables.$success, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(variables.$success, 0);
  }
}