@use "variables";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;

}

@mixin link {
    position: relative;
    opacity: 0.8;
    cursor: pointer;
    color: variables.$link;

    &:hover,
    &.active {

        color: variables.$link;

        opacity: 1;

    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: variables.$link;
        transform-origin: bottom right;
        transition: transform 0.25s ease-in-out;

    }

    &:hover:after,
    &.active:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }


}

a {
    text-decoration: none;
    cursor: pointer !important;
    color: variables.$link;

    transition: all 0.5s ease;

    &:is(:hover, :focus, :active) {
        text-decoration: none;
    }
}

img {
    pointer-events: none;
    user-select: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: variables.$bodyText;
    margin-bottom: 0.75rem;
    font-family: variables.$fontHeading;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;

}

h3 {
    font-size: 1.17em;

}

h4 {
    font-size: 1em;

}

h5 {
    font-size: .83em;

}

h6 {
    font-size: .67em;

}
p{
    font-family: variables.$fontPara;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 16px;
    font-weight: 400;
}
hr {
    width: 100%;
    display: block;
    height: 1px;
    color: inherit;
    padding: 0;
    line-height: 30px;
    background-color: #374151;
    border-width: 0;
    margin-block: 1rem;

    &.hr2 {
        height: 2px;
    }

}

.G_Backdrop {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #00000080;
    -webkit-tap-highlight-color: #0000;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;

    &.isOpen {
        display: block;
    }
}

// ::-webkit-scrollbar{width:12px;height:12px;background-color:rgb(242,242,242);cursor:pointer!important}
// ::-webkit-scrollbar:hover{background-color:rgb(242,242,242)}
// ::-webkit-scrollbar-thumb{border:2px solid transparent;box-shadow:inset 0 0 0 24px rgba(0,0,0,.15);border-radius:24px}
// ::-webkit-scrollbar-thumb:active{box-shadow:inset 0 0 0 24px rgba(0,0,0,.30);border-radius:24px}
html {
    scroll-behavior: smooth;
    scrollbar-color: hsla(0, 0%, 100%, .2) transparent;



    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        cursor: pointer !important;
        transition: all 1s ease-in-out !important;

    }



    ::-webkit-scrollbar-track {
        background-color: none;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        background-color: #969faf;
        border: 3px solid transparent;
        border-radius: 20px;
        background-clip: content-box;

        cursor: pointer !important;
        transition: all 1s ease-in-out !important;

        &:is(:active, :hover) {

            background-color: hsla(0, 0%, 100%, .35) !important;
        }
    }

    .ScrollbarHover {
        overflow-y: auto;


        &::-webkit-scrollbar-thumb {
            background-color: transparent !important;
        }

        &:hover {
            &::-webkit-scrollbar-thumb {

                background-color: #969faf;

            }
        }
    }

    // :is(:active, :focus-within, :focus, :hover) {
    //     ::-webkit-scrollbar-thumb {
    //         background-color: #969faf;
    //         border: 3px solid transparent;
    //         border-radius: 20px;
    //         background-clip: content-box;

    //         cursor: pointer !important;

    //         &:is(:active, :hover) {

    //             background-color: hsla(0, 0%, 100%, .35) !important;
    //         }
    //     }
    // }

    // :is(:active, :focus-within, :focus, :hover)::-webkit-scrollbar-thumb {
    //     background-color: rgba(0, 0, 0, .2);
    //     border: 4px solid transparent;
    //     background-clip: content-box;
    //     border-radius: 10px;
    // }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }



}

::selection {
    background: variables.$secondaryBg;
    color: variables.$secondary;
    text-shadow: none
}