
        .g-modal-area {
            opacity: 1;
            visibility: visible;
            background: #0003;
            --webkit-backdrop-filter: saturate(180%) blur(10px);
            backdrop-filter: saturate(180%) blur(10px);
            z-index: 999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1055;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            outline: 0;
display: none;
            animation: closeModalArea  ease ;
        }

        .g-modal-area.open {
            display: block;
            animation: showModalArea 1s ease;
        }

        @keyframes closeModalArea {
            0% {
                opacity: 1;
                transform: scale(1);
                /* display: block; */
            }

            80% {
                opacity: 0;
                transform: scale(0);
                /* display: none */
            }
        }

        @keyframes showModalArea {
            0% {
                opacity: 0;
                /* transform: scale(0); */
            }

            80% {
                opacity: 1;
                /* transform: scale(1); */
                /* display: block; */
            }
        }

        .g-modal-area .g-modal.show {
            transform: translate(-50%, -50%);
            -webkit-animation-name: zoomIn;
            animation-name: zoomIn
        }

        @-webkit-keyframes zoomIn {
            0% {
                opacity: 0;
                -webkit-transform: translate(-50%, -50%) scale3d(.3, .3, .3);
                transform: translate(-50%, -50%) scale3d(.3, .3, .3)
            }

            50% {
                opacity: 1;
                transform: translate(-50%, -50%)
            }
        }

        @keyframes zoomIn {
            0% {
                opacity: 0;
                -webkit-transform: translate(-50%, -50%) scale3d(.3, .3, .3);
                transform: translate(-50%, -50%) scale3d(.3, .3, .3)
            }

            50% {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        .g-modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: zoomOut;
            animation-name: zoomOut;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: auto;
            min-width: 22rem;
            max-width: 80%;
            box-shadow: var(--default-shadow);
        }

        @-webkit-keyframes zoomOut {
            0% {
                opacity: 1
            }

            50% {
                opacity: 0;
                -webkit-transform: translate(-50%, -50%) scale3d(.3, .3, .3);
                transform: translate(-50%, -50%) scale3d(.3, .3, .3)
            }

            to {
                opacity: 0
            }
        }

        @keyframes zoomOut {
            0% {
                opacity: 1
            }

            50% {
                opacity: 0;
                -webkit-transform: translate(-50%, -50%) scale3d(.3, .3, .3);
                transform: translate(-50%, -50%) scale3d(.3, .3, .3)
            }

            to {
                opacity: 0
            }
        }

        .g-modal .g-modal-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background-color: var(--g-modal-header);
            border-bottom: 1px solid var(--g-border-clr);
            font-weight: 500;
            font-size: 1.3rem;
            text-transform: capitalize;
            padding: 1rem;
            border-top-left-radius: calc(0.5rem - 1px);
            border-top-right-radius: calc(0.5rem - 1px);
        }

        .g-modal .g-modal-body {
            background-color: var(--g-modal-bg);
            width: 100%;
            flex: 1 1 auto;
            padding: 1rem;
        }

        .g-modal .g-modal-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--g-footer-bg);
            border-top: 1px solid var(--g-footer-bg);
            font-weight: 400;
            font-size: 1.25rem;
            text-transform: capitalize;
            width: 100%;
            padding: 0.75rem;
            border-bottom-left-radius: calc(0.5rem - 1px);
            border-bottom-right-radius: calc(0.5rem - 1px);
        }