body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #323445;
    background: ---webkit--linear-gradient(to left, #323445, #030b02);
    background: linear-gradient(to left, #323445, #030b02);
    color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
}

body:after {
    content: '';
    background: #FF004A;
    position: absolute;
    height: 450px;
    width: 450px;
    bottom: -250px;
    right: -200px;
    border-radius: 100%;
    z-index: -1;
}

body:before {
    content: '';
    background: linear-gradient(to right, #2196f3, #107aac);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: circle(10% at 10% 10%);
    z-index: -1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent!important;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent!important;
}

.card {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2)!important;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2)!important;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}

.card:before {
    content: "";
    position: absolute;
    left: -25%;
    top: -70%;
    z-index: -1;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: Rotate(-20deg);
}

.list-group-item {
    background-color: inherit;
}

.text-muted {
    color: #ffffffe8 !important;
}

a:any-link {
    color: rgb(255, 255, 255);
}

.bubbles {
    overflow: visible;
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    transition-timing-function: linear
}

.bg-bubbles li:nth-child(1) {
    left: 10%
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.15)
}

.bg-bubbles li:nth-child(5) {
    left: 70%
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.1)
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.2)
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg)
    }
}