.g-navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.75rem 0.5rem;
  backdrop-filter: blur(20px);
  border-style: solid;
  border-color: #E7EBF0;
  border-width: 0;
  border-bottom-width: thin;
  background: rgba(255, 255, 255, 0.7019607843);
  font-weight: 600;
  width: 100%;
  box-shadow: 0px 5px 10px 0 rgba(83, 74, 74, 0.2196078431);
}
.g-navbar .g-navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.g-navbar .left {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  margin-right: auto;
  justify-content: flex-start;
}
.g-navbar .left .navbar-brand {
  margin-right: 0.5rem;
}
.g-navbar .right {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
  margin-left: auto;
  justify-content: flex-end;
}
.g-navbar .right .g-navbar-brand {
  margin-left: 0.5rem;
}
.g-navbar .g-nav-btn {
  padding: 8px;
  cursor: pointer;
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 34px;
  min-width: 34px;
  width: auto;
  border: 1px solid #E0E3E7;
  border-radius: 0.5rem;
  color: #1c81c5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g-navbar .g-nav-btn:not(:last-child) {
  margin: auto 0.5rem;
}
.g-navbar .g-nav-btn:hover, .g-navbar .g-nav-btn:active {
  border-color: #CDD2D7;
  background: #F3F6F9;
}
.g-navbar .g-nav-link {
  position: relative;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #1c81c5;
  text-decoration: none;
}
.g-navbar .g-nav-link:not(:last-child) {
  margin: auto 0.5rem;
}
.g-navbar .g-nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.g-navbar .g-nav-link:hover:after, .g-navbar .g-nav-link.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.g-navbar .g-navbar-input {
  min-height: 34px;
  width: max-content;
  min-width: 200px;
  max-width: 340px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 8px;
  position: relative;
  background-color: #f3f6f9;
  color: #3e5060;
  font-size: 0.875rem;
  border: 1px solid #e0e3e7;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 150ms;
}
.g-navbar .g-navbar-input:hover {
  border: 0.1031rem solid #1c81c5;
}
.g-navbar .g-navbar-input:focus {
  border: 2px solid #1c81c5;
}
@media (max-width: 576px) {
  .g-navbar .g-navbar-input {
    display: none;
  }
}
.g-navbar .g-nav-collapse-toggler {
  display: none;
  padding: 8px;
  cursor: pointer;
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 34px;
  min-width: 34px;
  width: auto;
  border: 1px solid #E0E3E7;
  border-radius: 0.5rem;
  color: #1c81c5;
  text-decoration: none;
}
@media (max-width: 768px) {
  .g-navbar .g-nav-collapse-toggler {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-right: 0.25rem;
    margin-left: auto;
    justify-content: flex-end;
  }
}
.g-navbar .g-nav-collapse-toggler:hover, .g-navbar .g-nav-collapse-toggler:active, .g-navbar .g-nav-collapse-toggler.active {
  border-color: #CDD2D7;
  background: #F3F6F9;
}
.g-navbar .g-navbar-collapse {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  .g-navbar .g-navbar-collapse {
    display: none;
    width: 100%;
    transition: all 0.3s ease;
    transform: scale(0);
  }
  .g-navbar .g-navbar-collapse.show {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid #CDD2D7;
    transform-origin: top center;
    transform: scale(1);
  }
}/*# sourceMappingURL=navbar.css.map */