.g-toast-container {
    position: fixed;
    z-index: 999;
    top: 20px;
    right: 20px;
}

.g-toast-container .g-toast {
    position: relative;
    width: 100%;
    max-width: 300px;
    min-width: 280px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: var(--default-shadow);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    --webkit-animation-duration: 1s;
    animation-duration: 1s;
    --webkit-animation-duration: 1s;
    animation-duration: 1s;
    --webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp */
}

.g-toast-container .g-toast .g-toast-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--g-border-clr);
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 0.4rem;
    border-top-left-radius: calc(0.15rem - 1px);
    border-top-right-radius: calc(0.15rem - 1px);
}

.g-toast-container .g-toast .g-toast-header .g-toast-title span svg {
    width: 24px;
    height: 24px;
    margin-right: 0.25rem;
}

.g-toast-container .g-toast .g-toast-header .g-toast-close {
    background: none;
    border: none;
}

.g-toast-container .g-toast .g-toast-body {
    padding: 0.5rem
}

.g-toast-container .g-toast.active {
    opacity: 1;
    visibility: visible;
    --webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

.g-toast-container .g-toast:not(.active) {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.g-toast-container .g-toast .g-toast-header .g-toast-close {
    opacity: 0.7;
}

.g-toast-container .g-toast .g-toast-header .g-toast-close:hover {
    opacity: 1;
}

.g-toast-container .g-toast .g-toast-header {
    border-bottom: 1px solid #ccc;
}

.g-toast-container .g-toast {
    background-color: #fff;
}

.g-toast-container .g-toast.g-toast-success svg,
.g-toast-container .g-toast.g-toast-warning svg,
.g-toast-container .g-toast.g-toast-danger svg,
.g-toast-container .g-toast.g-toast-info svg,
.g-toast-container .g-toast.g-toast-dark svg {
    fill: #fff;
}

.g-toast-container .g-toast.g-toast-success {
    background-color: #10b981;
    color: #ecf6f8;
}

.g-toast-container .g-toast.g-toast-success .g-toast-header {
    border-bottom-color: #50cba4;
}

.g-toast-container .g-toast.g-toast-warning {
    background-color: rgba(245, 158, 11, 1);
    color: #ecf6f8;
}

.g-toast-container .g-toast.g-toast-warning .g-toast-header {
    border-bottom-color: #f2bc5c;
}

.g-toast-container .g-toast.g-toast-danger {
    background-color: rgba(239, 68, 68, 1);
    color: #ecf6f8;
}

.g-toast-container .g-toast.g-toast.g-toast-danger .g-toast-header {
    border-bottom-color: #ee6e6e;
}

.g-toast-container .g-toast.g-toast-info {
    background-color: rgba(59, 130, 246, 1);
    color: #ecf6f8;
}

.g-toast-container .g-toast.g-toast-info .g-toast-header {
    border-bottom-color: #81aff7;
}