@use "./style/variables";

:root {
    --text-light: #8a8f98;
    --text-lighter: #757783;
    --bodyBg:#23272f;
}

@import "./style/reset", "./style/buttons", "./style/flex", "./style/forms", "./style/layout","./style/position",  "./style/topography", "./style/ripple";

@import "./style/components/navbar";
@import "./style/components/header";
@import "./style/components/main";
@import "./style/components/footer";
@import "./style/components/collapse";
@import "./style/components/accordion";
@import "./style/components/modal";
@import "./style/components/toast";
@import "./style/components/tabs";
@import "./style/components/card";
@import "./style/components/slicedMenu";

body {
    background-color: variables.$bodyBg;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: normal;
    color: variables.$bodyText;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: variables.$fontBody;

    -webkit-font-smoothing: antialiased;
}
