* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 40px;
}

.header-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header-img img {
    width: 100%;
    height: auto;
    max-width: 1500px;
    max-height: 600px
}

.header-img .mask {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.header_title {
    position: absolute;
    top: 35%;
    left: 40%;
    border: 1px solid #ccc;
    padding: 12px 24px;
    text-align: center;
    color: #F1F1F1
}

.header_title h1 {
    font-size: 48px;
    font-weight: 400;
}

.header_title p {
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 400;
}

.navbar {
    position: absolute;
    z-index: 1;
    left: 40%;
    bottom: -15px;
    background-color: #fffffff0;
    width: auto;
    border-radius: 5px;
}

.navbar a {
    width: auto;
    display: inline-block;
    cursor: pointer;
    padding: 8px 15px;
    text-decoration: none;
    color: #262626
}

.navbar a:hover {
    background: #ccc;
    border-radius: 5px;
}

main {
    margin: 20px auto;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px auto;
    max-width: 980px;
}

main img {
    margin: auto;
    max-width: 980px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#contact {
    background-color: #F1F1F1;
    padding: 20px;
}

#contact .text-center {
    text-align: center;
    margin-bottom: 50px;
}

#contact p {
    margin: 10px auto;
}

.form_outline {
    margin-bottom: 20px;
}

.form_control {
    padding: 8px;
    display: block;
    border: none;
    border: 1px solid #ddd;
    width: 100%;
}

.form_submit {
    width: 100%;
    padding: 10px 60px;
    cursor: pointer;
    background-color: #616161;
    color: #fff;
    outline: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.form_submit:hover {
    background-color: #ccc;
    color: #262622
}

.footer_link,
.footer_link a {
    color: #262626;
}

.footer_link a:hover {
    color: #29d142;
}

@media (max-width: 600px) {
    .navbar {
        left: 20%;
    }
    .header_title {
        top: 10%;
        left: 30%;
    }
    .header_title h1 {
        font-size: 20px;
    }
    .header_title p {
        letter-spacing: 2px;
        font-size: 12px;
    }
}