@font-face {
    font-family: 'Satoshi Variable';
    src: local('Satoshi Variable Bold'), local('SatoshiVariable-Bold'),
        url('SatoshiVariable-Bold.woff2') format('woff2'),
        url('SatoshiVariable-Bold.woff') format('woff'),
        url('SatoshiVariable-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

