<style>
  .demo-background {
    background: #159957; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #155799,
      #159957
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #155799,
      #159957
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    height: 300px;
    width:350px;
  }
  .bg_demo{ 
    width:350px;    overflow:hidden;
    display: grid;
    place-items: center;
}
  .wrap {
    position: relative;
  }

  .drop {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 47%;
    height: 150px;
    top: -24px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .drop-2 {
    width: 40px;
    height: 40px;
    top: -30px;
    left: -80%;
    right: 0;
    z-index: 4;
  }

  .drop-3 {
    width: 60px;
    height: 60px;
    top: 120px;
    right: 30px;
    z-index: 3;
  }

  .drop-4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -55px;
    right: 20px;
  }
</style>
<h1>What is Glassmorphism?</h1>
<p class="mb-3">
  Glassmorphism is a term used to describe UI design that emphasises light or
  dark objects, placed on top of colourful backgrounds. A background-blur is
  placed on the objects which allows the background to shine through – giving it
  the impression of frosted glass.<br />
</p>

<div id="app">
<div class="">
      <div class="">
        <!-- Section: Demo -->
        <section class="mb-4 row  d-flex align-items-center g-2">
          <div class="card shadow-1-strong col-6 demo-background m-auto mb-4">
            <div class="wrap">
              <h3 class="text-white text-uppercase display-6 fw-bold">
                Glassmorphism
              </h3>
              <div class="drop shadow-2-strong" :style="blurStyle">
                <div
                  class="drop drop-2 shadow-2-strong"
                  :style="blurStyle"
                ></div>
                <div
                  class="drop drop-3 shadow-2-strong"
                  :style="blurStyle"
                ></div>
                <div
                  class="drop drop-4 shadow-2-strong"
                  :style="blurStyle"
                ></div>
              </div>
            </div>
          </div>
          <div class="card bg_demo shadow-1-strong col-6  mb-4">

          <div class="bg-image  300 rounded shadow-1-strong">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/034.webp"
              class="w-100"
              alt="Road in the Mountains"
            />
            <div class="mask p-5 align-items-center" :style="blurStyle">
          
                <h3 class="text-white border-0 m-auto">Can you see me?</h3>
            </div>
          </div></div>
        </section>
        <!-- Section: Demo -->

        <!-- Section: Code -->
   
      <section class="card" ref="code">
        <div class="docs card-header">
          <ul
            class="nav nav-tabs nav-fill card-header-tabs border-bottom"
            id="ex"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="ex3-tab-1"
                data-mdb-toggle="pill"
                href="#output"
                role="tab"
                aria-controls="output"
                aria-selected="true"
                >CSS</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="ex3-tab-2"
                data-mdb-toggle="pill"
                href="#mdb_3dc3052aa7acd6b848a144cca6c40c190c286d64"
                role="tab"
                aria-controls="mdb_3dc3052aa7acd6b848a144cca6c40c190c286d64"
                aria-selected="false"
                >Html</a
              >
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content card-body" id="content">
            <div
              class="tab-pane fade show active"
              id="output"
              role="tabpanel"
              aria-labelledby="ex3-tab-1"
            >
 <pre title="Output Css"><code>  .mask-custom {
    backdrop-filter: {{this.blurStyle.backdropFilter}};
background-color: {{this.blurStyle.background}}
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
        </code></pre>
            </div>
            <div
              class="tab-pane fade"
              id="mdb_3dc3052aa7acd6b848a144cca6c40c190c286d64"
              role="tabpanel"
              aria-labelledby="ex3-tab-2"
            >
              <pre title="Demo Html"><code>
            
            &lt;div class=&#34;bg-image&#34;&gt;
                &lt;img
                src=&#34;https://mdbootstrap.com/img/new/standard/city/053.jpg&#34;
                class=&#34;w-100&#34;
                alt=&#34;Sample&#34;
                /&gt;
                &lt;div class=&#34;mask mask-custom&#34;&gt;
                &lt;div class=&#34;d-flex justify-content-center align-items-center h-100&#34;&gt;
                    &lt;h3 class=&#34;text-white mb-0&#34;&gt;Can you see me?&lt;/h3&gt;
                &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            
        </code></pre>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane fade active show" id="" role="tabpanel"></div>

            <div
              class="tab-pane fade"
              id="mdb_3dc3052aa7acd6b848a144cca6c40c190c286d64"
              role="tabpanel"
            ></div>
          </div>
        </div>
        <div class="card-footer">
         <p id="fstools"><br /><br />

</p>
          </div>
      </section>
      <!-- Section: Code -->
    </div>
    <!-- Section: Code -->
  

  <div class="col-sm-4 mb-4 mb-md-0"  style="margin-top: -16px">
    <!-- Section: Controls -->
    <section class="mb-4">
      <div class="card">
        <div class="card-body text-center">
          <!-- Size -->
          <label class="form-label" for="formBlur"><strong>Blur</strong></label>
          <div class="range mb-2">
            <input
              type="range"
              class="form-range"
              id="formBlur"
              min="0"
              max="20"
              v-model="blur"
            />
          </div>
          <!-- Transparency -->
          <label class="form-label" for="formTransparency"
            ><strong>Transparency</strong></label
          >
          <div class="range mb-2">
            <input
              type="range"
              class="form-range"
              id="formTransparency"
              min="0"
              max="20"
              v-model="transparency"
            />
          </div>
          <!-- Color -->
          <label for="formColor" class="form-label"
            ><strong>Color</strong>
          </label>
          <input
            type="color"
            class="form-control form-control-color w-100 mb-3"
            id="formColor"
            title="Choose your color"
            v-model="color"
            style="max-width: 100%; height: 40px"
          />
        </div>
      </div>
    </section>
    <!-- Section: Controls -->
  </div>
  </div>
</div>
<script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-html.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-css.js"></script>
<script
  async="async"
  defer="defer"
  type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/KKUPGRADER/blogger@js/copy-code-box.min.js"
></script>
<script>
  const App = {
    data() {
      return {
        blur: 5,
        color: "#B23CFD",
        transparency: 4,
      };
    },
    computed: {
      blurStyle() {
        return {
          backdropFilter: `blur(${this.blur}px)`,
          background: this.getRgbaColor(this.color),
        };
      },
      transparencyTarget: function () {
        return this.transparency / 20;
      },
    },
    methods: {
      getRgbaColor(color) {
        const [r, g, b] = color.match(/\w\w/g).map((x) => parseInt(x, 16));
        return `rgba(${r},${g},${b},${this.transparencyTarget})`;
      },
      getCSSCode() {
        return css_beautify(
          `
            .mask-custom {
              backdrop-filter: ${this.blurStyle.backdropFilter};
              background-color: ${this.blurStyle.background};
            }
            `,
          {
            indent_size: "2",
          }
        );
      },
      getSnippetElement() {
        return this.$refs.code.querySelector(
          `.language-${this.getActiveTab()} code`
        );
      },
      getActiveTab() {
        return this.$refs.code
          .querySelector("#output")
          .textContent.toLowerCase();
      },
      handleTabChange() {
        const links = this.$refs.code.querySelectorAll(".docs .nav-link");

        if (links.length > 1) {
          links.forEach((link) => {
            link.addEventListener("click", this.updatePrism, false);
          });
        }
      },
      updateCopyButton(code) {
        new ClipboardJS(".btn-copy-code", {
          text: () => {
            return code;
          },
        });
      },
      updatePrism() {
        const snippet = this.getSnippetElement();
        let activeCode = "";

        if (this.getActiveTab() === "css") {
          activeCode = this.getCSSCode();
        } else if (this.getActiveTab() === "html") {
          activeCode = `
            <div class="bg-image">
              <img
                src="https://mdbootstrap.com/img/new/standard/city/053.jpg"
                class="w-100"
                alt="Sample"
              />
              <div class="mask mask-custom">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <h3 class="text-white mb-0">Can you see me?</h3>
                </div>
              </div>
            </div>
            `;
        }

        snippet.textContent = activeCode;

        Prism.highlightAll();
        this.updateCopyButton(activeCode);
      },
    },
    mounted() {
      setTimeout(() => {
        this.updatePrism();
        this.handleTabChange();
      }, 100);
    },
    watch: {
      blur() {
        this.$nextTick(() => this.updatePrism());
      },
      color() {
        this.$nextTick(() => this.updatePrism());
      },
      transparency() {
        this.$nextTick(() => this.updatePrism());
      },
    },
  };

  Vue.createApp(App).mount("#app");
  
  
</script>
