.sidenav {
    height: 100vh;
    width: 280px;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    right: -280px;
    border-left: #ddd solid 1px;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.sidenav.bounceInRight {
    right: 0;
}

.sidenav .fas {
    color: #9FA6B2
}

.sidenav a {
    color: #4B5563
}

.sidenav h6 {
    margin-left: 1rem
}

.sidenav a.active {
    background-color: rgba(18, 102, 241, .05)
}

.blur {
    opacity: 1;
    visibility: visible;
    background: #0003;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 9999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

#closeBtn {
    position: absolute;
    left: -21px;
    top: 105px;
    opacity: 1;
    border-radius: 20px 0 0 20px;
    z-index: 999999999999;
    margin-left: -23px;
    margin-top: -3px;
    margin-right: auto;
    border: 2px solid #265bff;
}

#closeBtn {
    transform: none!important;
}


/* Table of Content v2.2 by K K UPGRADER */

#tocify {
    display: flex;
    width: 100%;
    flex-direction: column;
    clear: both;
    margin-left: -13px!important
}

.tocList {
    margin-left: 3px!important;
    padding-left: 0!important;
    text-align: left!important;
}

#tocify a:hover,
#tocify a:active,
#tocify a:focus,
#tocify a:focus-within,
#tocify a:focus-visible {
    background-color: #0000;
    box-shadow: none;
    color: #1266f1;
    font-weight: 600;
    border-left: 0.125rem solid #1266f1;
    border-radius: 0;
}

ul.tocList * {
    font-weight: 600;
}

.tocList .tocListElement:not(li li)::before {
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
}

.tocList .tocListElement:not(li li):hover::before {
    margin-right: 0.125rem;
}

.tocList .tocListElement:not(li li) a:hover {
    background-color: #0000;
    box-shadow: none;
    color: #1266f1;
    font-weight: 600;
    border-radius: 0;
    border-left: none
}

.tocListElement a {
    font-size: .8rem;
    background-color: #0000;
    color: #262626;
    line-height: 1.1rem;
    padding: 0 5px;
    font-weight: 400;
    transition: all .2s ease-in-out;
    text-transform: none;
    margin-top: 3px;
    margin-bottom: 3px;
}